{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Cart detail' %}
{% endblock title %}

{% block slider %}
{% endblock slider %}

{% block main-content %}
    <div class="row" id="cart">
        <div class="col-lg-12">
            <h3>{% trans 'Your cart' %}</h3>
            {% if cart %}
            <table class="cart">
                <thead>
                    <tr>
                        <th>{% trans 'Image' %}</th>
                        <th>{% trans 'Product' %}</th>
                        <th>{% trans 'Quantity' %}</th>
                        <th>{% trans 'Remove' %}</th>
                        <th>{% trans 'Unit price' %}</th>
                        <th>{% trans 'Total price' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        {% with product=item.item %}
                            <tr>
                                <td>
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{% if product.image %}{{ product.image.url }}{% endif %}" class="img-responsive">
                                    </a>
                                </td>
                                <td>
                                    <h2>{{product.item_title}}</h2>
                                </td>
                                <td>
                                    <form action="{% url "cart:cart_add" product.id %}" method="post" class="update-cart-form">
                                        <input type="number" name="quantity" min="0" max="{{ product.quantity }}" id="id_quantity" value="{{ item.quantity }}">
                                        {{ item.update_quantity_form.update }}
                                        {% csrf_token %}
                                        <input type="submit" value="{% trans 'Change' %}">

                                    </form>
                                </td>
                                <td>
                                    <a href="{% url "cart:cart_remove" product.id %}" class="remove-from-cart">{% trans 'Remove' %}</a>
                                </td>
                                <td>
                                    <p class="cart-detail-unit">{{ item.price|floatformat:"2" }}</p>
                                </td>
                                <td>
                                    <p class="cart-detail-total">{{ item.total_price|floatformat:"2" }}</p>
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if cart.coupon %}
                    <tr class="subtotal">
                        <td>{% trans 'Subtotal' %}</td>
                        <td colspan="4"></td>
                        <td>{{cart.get_total_price|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                        {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                        <td>"{{ code }}" coupon ({{ discount }})% off</td>
                        {% endblocktrans %}
                        <td colspan="4"></td>
                        <td class="num neg">- ${{cart.get_discount|floatformat:"2"}}</td>
                    </tr>
                    {% endif %}
                    <tr class="total">
                        <td>{% trans 'Total' %}</td>
                        <td colspan="4"></td>
                        <td class="num">${{cart.get_total_price_after_discount|floatformat:"2"}}</td>
                    </tr>
                </tfoot>
            </table>

            <p class="cart-coupon-p">{% trans 'Apply a coupon' %}:</p>

            <form action="{% url 'coupons:apply' %}" method="post" class="coupon-form">
                {{ coupon_apply_form }}
                {% csrf_token %}
                <input type="submit" value="{% trans 'Apply' %}">
            </form>

            <p class="text-right">
                <a href="{% url 'product:main_page' %}" class="btn btn-default">{% trans 'Continue shopping' %}</a>
                <a href="{% url 'orders:order_create' %}" class="btn btn-danger">{% trans 'Checkout' %}</a>
            </p>
        {% else %}
            <h4>{% trans 'Your cart is clear' %}</h4>
            <p><a href="{% url 'product:main_page' %}" class="return-to-shopping">{% trans 'Return to shopping' %}</a></p>
        {% endif %}
        </div>
    </div>
{% endblock main-content %}