{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Registration' %}
{% endblock title %}

{% block main-content %}
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>{% trans 'User registration form' %}</h1>
    </div>
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <form action="{% url 'auth:register' %}" method="post" class="userform">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button" type="submit" value="{% trans 'Register' %}">
        </form>
    </div>
{% endblock %}