{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% endblock title %}

{% block nav %}
    {{ block.super }}
{% endblock nav %}

{% block main-content %}
    <div class="profile-wrapper">
        {% if profile %}
            <div class="row profile-general-info">
                <div class="col-lg-4 col-lg-offset-2">
                    <h1>{{ profile.user.username }}</h1>
                    <p>{{ profile.user.email }}</p>
                    <div>
                        {% if profile.phone %}
                            <p>{{ profile.phone }}</p>
                        {% else %}
                            <a href="#">{% trans 'Add phone number' %}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <p>{% trans 'For all the time you bought' %}: <span>0</span></p>
                    <p>{% trans 'Your personal discount is' %}: <span>0%</span></p>
                    <p>{% trans 'Your points' %}: <span>{{ profile.points }}</span></p>
                </div>
            </div>
            <div class="row">
                <h1 class="user-orders">{% trans 'Your orders' %}</h1>
                {% for order in orders %}
                    <div class="col-lg-12 user-order-wrapper">
                        <h2>
                            {% trans 'Order' %} № {{ order.id }}
                            <span>{% trans 'Total cost' %}: {{ order.get_total_cost }}</span>
                        </h2>
                        <h2>
                            {% trans 'Paid status' %}:
                            <span>
                                {% if order.paid %}
                                    {% trans 'Yes' %}
                                {% else %}
                                    {% trans 'No ' %}
                                {% endif %}
                            </span>
                            {% trans 'Sent status' %}:
                            <span>
                                {% if order.is_sent %}
                                    {% trans 'Sent at' %}  {{ order.sent_date }}
                                {% else %}
                                    {% trans 'Order in work' %}
                                {% endif %}
                            </span>
                        </h2>
                        {% if order.items.all %}
                            <h2>{% trans 'All count items in order' %}: {{ order.items.count }}</h2>
                            <ul>
                                {% for product in order.items.all %}
                                    <li class="row">
                                        <div class="col-lg-3">
                                            <img src="{{ product.product.image.url }}" alt="product-image" class="img-responsive">
                                        </div>
                                        <div class="col-lg-1">
                                            <h3>{% trans 'Product' %}</h3>
                                            <p class="order-product-title">{{ product.product.item_title }}</p>
                                        </div>

                                        <div class="col-lg-1">
                                            <h3>{% trans 'Price' %}</h3>
                                            <p>$ {{ product.product.price }}</p>
                                        </div>
                                        <div class="col-lg-2">
                                            <h3>{% trans 'Price with discount' %}</h3>
                                            <p class="order-discount">$ {{ product.product.get_price_with_discount|floatformat:"2" }}</p>
                                        </div>

                                        <div class="col-lg-1">
                                            <h3>{% trans 'Quantity' %}</h3>
                                            <p>{{ product.quantity }}</p>
                                        </div>
                                        <div class="col-lg-1">
                                            <h3>{% trans 'Discount' %}</h3>
                                            <p class="order-discount">{{ product.product.discount }} %</p>
                                        </div>

                                        <div class="col-lg-1">
                                            <h3>{% trans 'Cost' %}</h3>
                                            <p>$ {{ product.cost_without_discount }}</p>
                                        </div>
                                        <div class="col-lg-2">
                                            <h3>{% trans 'Cost with discount' %}</h3>
                                            <p class="order-discount">$ {{ product.get_cost }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{% trans 'No items in order' %}</p> <!-- этой строки никогда не должно быть-->
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock main-content %}