.profile-wrapper
  margin: 0 -15px
  padding: 20px
  background-color: beige

  .profile-general-info
    background-color: gainsboro
    padding: 10px
    border: 1px solid

    h1
      margin: 0
      color: #000
      &:first-letter
        text-transform: uppercase

    p
      margin: 0
      font-size: 16px
      span
        font-size: 25px
        color: red
        font-weight: bold

.user-orders
  margin: 5px
  text-align: center

.user-order-wrapper
  h2
    margin: 0 0 10px 0
    color: black
    font-weight: 500
    span
      margin-right: 10%
      font-weight: bold
      color: #69cc61
    &:first-child
      span
        margin-left: 178px
        color: darkorange

  div
    padding-top: 10px

  ul
    list-style-type: none
    display: inline-block
    li
      border: 1px solid silver
      padding: 10px
      margin-bottom: 5px

      img
        margin: 0 auto

      h3
        font-size: 18px
        color: #5c69c7
        text-align: center

      p
        text-align: center
        padding: 40px 0
        font-size: 16px
        font-weight: 700

      .order-product-title
        font-size: 16px
        color: #5f9ea0
        &:first-letter
          text-transform: uppercase

      .order-discount
        color: #FF0000


