/********Admin styles*********/
.admin-block
  margin-bottom: 1em
  border: 1px solid $admin-block-border-color
  border-radius: 5px

.admin-block-header
  background-color: $admin-block-border-color
  margin-bottom: 1em

/*****Admin category block*****/
#searchform
  float: right
  clear: right
  margin-bottom: 0.5em
  padding: 0
  input, button
    height: 2.25em
  input
    padding-left: 0.5em

.searchbutton
  width: 3em

.objects-list-head
  background-color: #9faba3
  padding-right: 1.5%
  p
    color: #24149e !important
    font-weight: 800

.objects-list-content
  ul
    width: 100%
    list-style: none
    display: inline-block
    background-color: #dedede
    border: 1px solid black
    height: 150px
    overflow-y: scroll

    li
      float: left
      width: 100%
      border-bottom: 1px solid silver
      p:first-child
        font-weight: 700
        color: #4744b1
    a
      display: inline-block
      margin-left: 30%

.objects-list-head, .objects-list-content
  p
    display: inline-flex
    overflow: hidden
    //border-right: 1px solid silver
    margin: 0
    padding-bottom: 5px
    width: 12%
    color: #21212d

    &:first-child
      padding-left: 5px
    &:nth-child(2)
      width: 16%
    &:nth-child(5), &:nth-child(6)
      width: 15%
    &:nth-child(4)
      width: 14%
    &:last-child
      border: none

.product-quantity
  padding-left: 20px







.category-form
  width: 100%
  display: inline-block
  padding: 2em 0 1em 1em
  border: 1px solid $admin-block-border-color
  border-radius: 5px
  background-color: $admin-block-bg-color

.work-class-1
  margin-right: 1em
  float: right
  clear: right

  /******Styles for Items List*****/
.admin-cat-list, .admin-product-list
  background-color: $admin-block-bg-color
  position: relative
  padding: 1em 0
  list-style: none
  display: inline-block
  width: 100%
  border: 1px solid $admin-block-border-color

.admin-cat-list
  height: 200px
  overflow-y: scroll
  li
    margin-left: 1em

.admin-product-list
  height: 300px
  overflow-y: scroll

.header-category-table
  padding: 0.5em 0 0.5em 1em
  display: inline-block
  width: 100%
  border: 1px solid $admin-block-border-color
  background-color: $admin-block-header-color
  p
    display: inline-block
    width: 39%
    &:last-child
      width: 30%

.line-in-category-table
  p
    display: inline-block
    width: 13%
    color: $admin-block-p-color
    font-size: 1.3em
    font-weight: 600
    &:first-child
      width: 40%
    &:nth-child(2)
      width: 30%

/*******Admin product******/

.product-form
  border: 1px solid $admin-block-border-color
  border-radius: 5px
  background-color: $admin-block-bg-color
  padding: 1em
  margin-bottom: 1em

.admin-product-info
  margin: 1em
  padding: 0.5em 0 0.5em 1em
  border: 1px solid silver
  background-color: #f3dddd
  border-radius: 5px
  div
    p
      display: inline-block
      font-weight: 600
      font-size: 1.3em
      width: 13%
      &:first-child
        width: 70%
    ul
      list-style: none
      display: inline-flex
      li
        margin-left: 0.5em
        float: left
        clear: left

.product-title
  color: red !important
  font-size: 1.7em !important
  a
    text-decoration: none
    &:hover
      color: black

.product-form
  label
    width: 25%
  input
    width: 65%

.admin-up-product
  display: inline-block
  width: 100%
  background-color: #91CEA6
  border: 1px solid silver
  border-radius: 5px
  margin: 3em 0
  padding: 1em

/*******Modal******/
.modal-body
  a
    display: inline-block
    padding-right: 1em
    line-height: 2.3em
    width: 7em
    border: $admin-block-border-color
    border-radius: 5px
    background-color: $admin-block-bg-color
    &:hover
      text-decoration: none
      color: red !important
    span
      margin-left: 13px
      font-weight: 700
      font-size: 1.3em

/*******users*******/
.admin-user-create
  border-radius: 5px
  padding: 5px 20px
  margin-bottom: 10px
  a
    color: #f71e1e
    font-size: 18px
    font-weight: bolder
    &:hover
      text-decoration: none
      cursor: pointer
      color: blue
      font-size: 19px

.users-list
  list-style: none
  display: inline-block
  background-color: #dedede
  border: 1px solid black
  border-radius: 5px
  height: 70px
  overflow-y: scroll

  li
    padding-left: 1%
    float: left
    width: 100%
    border-bottom: 1px solid silver
    //&:first-child
    //  position: fixed
    //  overflow: hidden
    p
      display: inline-flex
      overflow: hidden
      border-right: 1px solid silver
      margin: 0
      padding-bottom: 5px
      width: 12%

      &:nth-child(2)
        width: 16%
      &:nth-child(5), &:nth-child(6)
        width: 15%
      &:nth-child(4)
        width: 14%
      &:last-child
        border: none

.user-action
  width: 4% !important
  text-align: center

/*****Admin Panel Forms******/

.userform
  padding: 10px
  margin-bottom: 10px
  border: 1px solid black
  border-radius: 5px
  background-color: #d1c4fd
  ul, span
    display: none
  label
    width: 40%
  p
    input
      width: 50%
      margin: 0
  input
    width: 25%
    margin-left: 37%

.form-header-h2
  color: #a29393 !important

.back-button
  margin-top: 20px
  font-weight: 900
  font-size: 16px
  color: #f0f8ff
  background-color: #717dd0
  padding: 10px

.modal-content
  display: inline-block
  text-align: center
  width: 50%
  vertical-align: middle
  margin-left: 25%
  margin-top: 30%



