// cart
#cart
  h2
    color: #555556
    &:first-letter
      text-transform: uppercase
  h3
    text-transform: uppercase
    color: #ffffff
    background-color: #69cc61
    text-align: center
    border: 1px solid silver
    padding: 10px
    font-weight: 600
  h4, p
    text-align: center
  p
    margin: 30px 0
    font-size: 20px

    &:last-child
      a:first-child
        color: #fff
        background-color: #69cc61
        border: none
      a:last-child
        color: #fff
        background-color: #f5b93b
        border: none

  .cart-detail-unit
    color: #000

  .cart-detail-total
    color: $global-red

  .return-to-shopping
    font-weight: 600
    color: #3e0686
    text-decoration: none
    border: 1px solid silver
    padding: 7px 15px
    font-size: 20px
    background-color: #69cc61
    border-radius: 5px 15px

  .cart-coupon-p
    text-align: start
    display: inline-block
    margin: 20px 10px

  .coupon-form
    display: inline
    label
      display: none
    input:first-of-type
      padding: 3px
      margin-right: -5px
    input:last-child
      padding: 4px 10px
      background-color: #efaf27
      border: 1px solid silver
      color: #fff


.cart
  width: 100%
  tr
    border: 0.5px solid silver
    border-top: none
  th
    text-align: center
    padding: 5px 5px
    border: 1px solid bisque

  thead, tfoot
    background-color: #c6e1e8

  tbody
    background-color: #f0f8ff

  img
    margin: 0 auto
    padding: 4px 0
    max-width: 100px
    height: auto


.update-cart-form
  input:first-child
    margin-right: -4px
    padding: 5px
    border-radius: 7px 0 0 7px
    border: 2px solid #69cc61

  input:last-child
    color: white
    padding: 5px
    border-radius: 0 7px 7px 0
    background-color: #69cc61
    border: 2px solid #69cc61


.remove-from-cart
  border: 1px solid silver
  background-color: #efefef
  padding: 4px 8px
  border-radius: 5px
  &:hover
    text-decoration: none
    cursor: pointer
    color: $global-red