.filters
  background-color: #f9f9f9
  padding-bottom: 10px

.filter-form
  margin: 0.5em
  padding: 0.3em
  div
    margin: 1.5em 0
    h4
      display: inline-block
      margin: 0
      padding: 0
      line-height: 1.3em
    img
      max-height: 1.3em
      max-width: 1.3em
  label
    margin-right: 0.15em
  input
    width: 80%
    border-radius: 2%
  button
    border: none
    font-size: 18px
    display: block
    margin: 0 auto
    padding: 0.2em 2em
    height: 2em
    background-color: #6a6af9
    color: #fff
    font-weight: 600
    border-radius: 3px

#id_description
  width: 65%

.filter-populars-select
  select
    width: 65%

.filter-price-range
  label
    margin-right: 0.5em !important
  input
    width: 25% !important

.brand-check
  ul
    list-style: none
    li
      label
        vertical-align: middle
  input
    width: inherit !important