.filters form {
  margin: 0.5em;
  padding: 0.3em; }
  .filters form h4 {
    margin: 0;
    padding: 0;
    line-height: 1.3em; }
    .filters form h4 img {
      height: 100%; }

/*# sourceMappingURL=filter.css.map */
