*
  margin: 0
  padding: 0

html
  overflow-x: hidden

body
  margin: 0 auto
  background-image: -webkit-linear-gradient(top, transparent, rgba(255,255,255,.4)),url('../media/work_images/site-bg.jpg')
  -moz-background-size: 100%
  -webkit-background-size: 100%
  -o-background-size: 100%
  background-size: 100%
  background-attachment: fixed
  background-repeat: repeat

//tempple 8branch

.branch8
  position: fixed
  z-index: 9999
  height: 100px
  bottom: 0
  right: 0

.branch8-2
  position: fixed
  z-index: 9999
  height: 90px
  top: 0
  left: 0

//.tooltip
//  display: none
//  background-color: pink
//  font-size: 13px
//  height: 70px
//  width: 160px
//  padding: 25px
//  color: red

header
  .container-fluid
    padding-top: 5px
    background-color: $head-bg

h2
  font-size: 20px !important
  color: $h2-color
  font-weight: 600

.all-content
  padding-top: 10px
  background-color: $global-white

.defaultCountdown
  margin-bottom: 5px
  display: flex

.main-content
  background-color: $bg-main-content

.block
  margin-top: 2em

.sidebar
  padding-right: 0 !important

footer
  position: relative
  overflow: hidden
  margin-bottom: 0
  background-color: black

  h1
    padding: 10px 0 0 0
    color: #fff
    font-size: 20px
    text-align: center

  h2, ul
    text-align: center

  ul
    list-style-type: none
    a
      color: #cad2d8
      cursor: pointer
      &:hover
        text-decoration: none
        opacity: 0.7

  address
    color: #fff
    text-align: center
    margin: 10px 50px 10px 0


.administration-link
  color: #0e0506 !important
  font-size: 1em !important
  margin-right: 10px


.no-margin
  margin: 0 !important
  padding: 0
  color: white
  font-weight: 800


.bx-wrapper
  margin-bottom: 0 !important
  overflow: hidden !important
  height: 315px !important
