//  enter your dashboard
.dashboard
  margin-top: -5px
  background-color: $global-white
  a
    font-weight: 600
    color: $dashboard-a-c
    margin-left: 50px
    &:hover
      text-decoration: none
      cursor: pointer
    &:last-child
      margin-right: 25px
      float: right
      clear: both


// logo styles**************
.logo-wrapper
  text-align: center
  padding-top: 15px
  i
    font-size: 70px
    padding: 5px
    color: #5e8c6f


// feedback-form styles*********
.feedback
  margin-top: 0
  .feedback-first-line
    margin: 0
    font-weight: 600
    color: #fff
    opacity: .7
    font-size: 16px

  .feedback-second-line
    margin: 0
    font-weight: 600
    color: #fff
    opacity: .7
    font-size: 16px

  .feedback-third-line
    margin: 5px 0 0
    font-size: 16px
    color: #fff

  p:first-letter
    text-transform: uppercase

  form
    input
      padding-left: 5px
      width: 80%
      line-height: 1.5

  .glyphicon
    margin-left: -5px
    padding: 2px 5px 5px 5px
    border: 0.2px solid $feedback-form-glyph-b
    background-color: $feedback-form-glyph-bgc
    text-align: center
    font-size: $feedback-form-glyph-f
    color: $feedback-form-glyph-c


//base nav styles**********
.base-navigation
  text-align: center
  list-style-type: none
  float: right
  margin-right: 5%
  margin-top: 10px
  li
    margin: 0 10px
    float: left
    clear: right

    &:first-letter
      text-transform: uppercase

    a
      color: $global-white
      text-decoration: none
      font-size: 17px

      &:hover
        color: $global-red
        text-decoration: none

//lang styles****************
.languages-form
  overflow: hidden
  ul
    float: right
    margin-right: 5px
    margin-top: 5px
    list-style-type: none
    display: inline-block

    li
      float: left
      padding: 1px
      &:last-child
        button
          border-right: none

      button
        border: none
        border-right: 1px solid $global-white
        background-color: inherit
        padding: 3px 6px
        font-size: 16px
        text-transform: uppercase
        &:hover
          cursor: pointer
          opacity: .7


.selected-lang
  color: $global-white


// cart styles
.shopify
  display: inline-block
  width: 100%
  list-style-type: none

  li
    position: relative
    width: 22%
    float: left
    margin: 0 10px

    a:hover, a:active
      text-decoration: none
      outline: none
    p
      margin: 0
      padding: 0
      font-size: 12px
      text-align: center
      color: $global-white

    .badge
      position: absolute
      top: 0
      right: 0
      background-color: #ff8787
      color: #fbfafa

  .glyphicon
    display: block
    text-align: center
    font-size: $shopify-glyph-f
    color: $shopify-glyph-c

.in-out
  a
    overflow: hidden
    position: relative
    text-decoration: none
    background-color: inherit
    &:hover
      text-decoration: none

  .glyphicon
    padding: 4px 0 3px
    display: block
    text-align: center
    font-size: $in-out-glyph-f
    color: $in-out-glyph-c

  p
    margin: 0
    padding: 0
    text-align: center
    color: $in-out-p-c
    font: $in-out-p-f

.global-search

  form
    padding-top: 16px

    .searchfield
      outline: none
      border-radius: 4px 0 0 4px
      border: none
      width: 100%
      text-transform: uppercase
      height: 34px
      padding-left: 10px

    a
      color: #969090
      border: none
      height: 34px
      border-left: 1px solid


#login-popup
  .modal-header
    border-bottom: none

  .modal-body
    margin-bottom: 20px

  form
    width: 80%
    margin-left: 10%

    input
      width: 100%
      height: 40px
      padding-left: 10px
      margin-bottom: 10px

    button
      margin-right: 6%
      padding: 0
      width: 47%
      height: 40px
      float: left
      background-color: $login-button-bgc
      font-weight: bold
      &:hover
        color: $global-red

    a
      padding: 2px 0 0 6px
      width: 47%
      height: 40px
      border: 1px solid $login-a-b
      border-radius: 0px
      background-color: $login-a-bgc
      color: $login-a-c
      font-weight: bold
      text-decoration: none
      &:hover
        color: $global-black !important

.message
  font-weight: bold
  font-size: 16px
  color: #fff


