/*--------h2-header---------*/
#content-section
  aside
    margin-top: 10px
    padding-bottom: 10px

.goods
  margin: 0
  padding: 10px 0 10px 10px
  background-color: $goods-h2-bg
  color: #fff
  font-size: 16px
  font-weight: 600
  text-transform: uppercase

.goods-list
  margin-top: 10px
  list-style: none
  border-top: 0.5px solid #f3e6e6
  a
    color: #7c867c
    &:hover
      text-decoration: none
      opacity: 0.7
  li
    border: 0.5px solid #f3e6e6
    border-top: none
    p
      margin: 5px 0 5px 10px
      font-size: 16px


/*FIRST-DISPLAY SETTINGS********************
.zavlekuha
  ul
    margin: 0
    padding: 9px 10px
    background-color: #fdfcfa
    display: inline-block
    width: 100%
    list-style-type: none
    li
      margin-left: 10px
      float: left
      a, i
        color: #ffad38
      a
        text-decoration: none
        font-size: 16px
        font-weight: bold
        text-transform: uppercase

        &:hover
          text-decoration: none
          color: #818def
      i
        font-size: 16px


.sign-up
  //background-color: #f0f8ff
  margin-top: -15px
  padding: 15px 0
  h3
    text-align: center
    font-size: 16px
    font-weight: 700
    color: #7268ff
    line-height: 1.5
    
  button
    border-radius: 3px
    outline: none
    border: none
    display: block
    margin: 0 auto
    width: 150px
    height: 35px
    font-size: 14px
    text-transform: uppercase
    font-weight: 700
    color: $global-white
    background-color: #69cc61
    a
      color: inherit
      text-decoration: none
      &:hover
        text-decoration: none
        opacity: 0.8

.hot-promotion-list
  list-style-type: none
  padding: 10px
  a
    text-decoration: none
  li
    background-color: antiquewhite
    margin-bottom: 10px
    padding: 10px
    color: #f5f5dc
    h3
      margin: 10px 0
      font-size: 18px
      color: #5948de
      text-transform: uppercase

    p
      margin: 0
      color: #5f5050
      span, a
        color: $global-red
      a:hover
        text-decoration: none
        color: $global-black

  .promotion-discount
    a
      color: #3e3931


/*-----------Preview Category------------*/
#categories, #promotions, #novelties, #promotions, #viewed-items, #recommended
  //background-color: #f9f9f9
  padding: 10px 0
  margin: 0 -15px
  h3
    color: #000
    margin: 0
    padding: 30px 10px
    //background-color: $categories-h3-bg

#categories
  margin: 0
  padding: 0

.preview-category
  height: 300px
  margin: 10px 0
  padding: 0 30px

  img
    max-height: 250px
    max-width: 225px
    height: auto
    width: 100%
    overflow: hidden

  figcaption
    padding-top: 10px
    font-weight: bold
    font-size: 16px
    color: #787d79
    text-align: center

/*----------------BREADCRUMBS---------------*/
.breadcrumbs
  background-color: $bread-bg
  a
    color: $bread-link
    text-decoration: none
    font-size: 1em
    &:hover
      color: $active-link
    &:first-child
      margin-left: 0.5em
  span
    margin: 0 0.3em

/*-------------SUB Navigation--------------*/
.sub-navigation
  margin-top: 10px
  ul
    position: relative
    overflow: hidden
    //border-bottom: 1px solid silver
    list-style: none
    margin: 0
    padding: 0
    li
      float: left
      margin: 0 1em
      a
        vertical-align: sub
        color: #5f5d6b
        font-size: 16px
        text-decoration: none
        font-weight: 600
        &:hover
          opacity: .7

.best-promo
  padding: 5px
  border: 1px solid red
  border-radius: 5px
  background-color: $best-promo-bg

/**********************************************/

/*-------------PRODUCT STYLES--------------*/
.product-wrapper
  position: relative
  overflow: hidden
  padding: 5px
  opacity: 1
  -webkit-transform: scale(1,1)
  -webkit-transition-timing-function: ease-out
  -webkit-transition-duration: 550ms
  -moz-transform: scale(1,1)
  -moz-transition-timing-function: ease-out
  -moz-transition-duration: 550ms

  h2
    margin: 5px 0 0
    color: #4d37c1
    font-size: 22px
    //text-align: center
    font-weight: normal
    &:first-letter
      text-transform: uppercase

  img
    margin: 0 auto
    max-height: 150px
    width: auto

  &:hover
    -webkit-transform: scale(1.2,1.2)
    -webkit-transition-timing-function: ease-out
    -webkit-transition-duration: 550ms
    -moz-transform: scale(1.2,1.2)
    -moz-transition-timing-function: ease-out
    -moz-transition-duration: 550ms
    z-index: 5
    border: 1px solid silver
    border-radius: 2px
    background-color: $item-block-on-hover

.discount-img
  position: absolute
  right: 0
  z-index: 3
  max-width: 50px
  height: auto

//Product preview settings
.image-block
  max-height: 150px
  text-align: center
  a
    position: relative
    overflow: hidden
    img
      margin: 0 auto
      height: 100%

.item-price
  margin: 10px
  font-size: 18px
  font-weight: bold
  display: inline-block
  color: $price

.old-price
  opacity: .4
  text-decoration: line-through

.discount-price
  color: $global-red

.product-in-stock
  p
    margin-left: 10px
    font-weight: 700
    font-size: 13px

.product_ends
  color: $global-red

.product_in_stock
  color: #171615

.product_not_available
  color: $prod-not-available
  opacity: 0.3

.product-actions
  display: inline-block
  margin: 0
  list-style-type: none
  li
    float: left
    position: relative
    //background-color: #eeefc6
    padding: 2px
    margin: 0 5px
    border-radius: 10px

    a:hover
      text-decoration: none
      cursor: pointer

    .glyphicon
      padding: 3px
      display: block
      text-align: center
      font-size: 35px

  .product-actions-cart
    background-color: #65b765
    i
      color: #fff

  .product-actions-heart
    background-color: inherit
    i
      color: #f77e7e

  .product-actions-stats
    background-color: inherit
    i
      color: #a99f9f
      opacity: .5

/*******Paginator*********/
.paginator
  text-align: center
  clear: both
  .pagination
    display: inline-block
    position: relative
    overflow: hidden

.active-page
  background-color: $pag-active-page !important


.stub
  text-align: center
  padding-bottom: 20px
  h1
    text-align: center
    font-size: 20px
    font-weight: 600
    color: #69cc61
  p
    text-align: center
    font-size: 16px
    color: #191818
  a
    cursor: pointer
    border: none
    font-size: 18px
    display: inline-block
    margin: 0 auto
    padding: 10px 20px
    background-color: #6a6af9
    color: #fff
    font-weight: 600
    border-radius: 3px
    &:hover
      text-decoration: none

