.navigation-wrapper
  display: flex
  margin: -10px -15px 0
  background-color: #fdb434

.main-navigation
  display: inline-block
  list-style: none
  line-height: 2em
  margin-bottom: 0 !important
  li
    float: left
    a
      display: inline
      height: inherit
      cursor: pointer
      text-decoration: none

      &:hover
        opacity: .7

    p, p>a
      margin-left: 1em
      margin-bottom: 0
      color: #fff
      font-weight: 600
      font-size: 16px

      &:hover
        cursor: pointer
        color: red !important

    &:first-child
      p>a
        color: $nav-first-item
        margin-right: 30%

    img
      width: 1.2em
      height: 1.2em

    button
      width: 1.2em
      height: 1.2em


