.checkout-page
  margin-top: 40px
  margin-bottom: 40px
  background-color: #e2dccf
  h1
    text-align: center
    border: 1px solid
    background-color: #69cc61
    color: white
    padding: 5px

.order-info
  h3
    text-align: center
    color: #f79410
  ul
    list-style: none
    li
      margin-bottom: 5px
      padding: 5px 0
      font-weight: bold
      font-size: 18px
      color: #736767
    .title, .price
      color: #612bde


.total-cost
  font-weight: bold
  font-size: 16px
  color: red
  text-align: end
  background-color: #f3dffd
  padding: 10px