// product
.product-detail-wrapper
  h1
    color: #1d07c5
    font-size: 40px
    text-transform: uppercase
  // price
  .prod-detail-price
    display: inline-block
    span:first-child
      position: absolute
      margin: 0
      padding: 0
    span:last-child
      border-radius: 5px
      background-color: #f5dbf3
      margin: 25px 5px 25px 0
      font-size: 30px
      display: inline-block
      padding: 1px 30px
    p
      color: #647164
      border-radius: 5px
      font-size: 30px
      background-color: #fbcdd7
      padding: 2px 30px
      font-weight: 400
// right sector
.product-all-info
  background-color: #f5f5f5
  padding-bottom: 10px

.buyed
  display: inline-block
  a
    font-size: 30px
    background-color: #10d810
    border-radius: 5px
    padding: 5px 20px
    font-weight: 600
    i
      color: #f7eded
    span
      color: white
      font-size: 20px
    &:hover
      text-decoration: none
      cursor: pointer
  .not-available
    margin-left: 20px
    font-size: 18px
    font-weight: bold
    color: #af8f8f

// add product in cart button
.add-cart-form
  input:last-child
    padding: 10px 30px 7px
    background-color: #10d810
    color: white
    font-size: 24px
    border: none
    border-radius: 5px
    font-weight: 600

// discount counter if product have discount else p
.discount-counter
  border: 1px solid silver
  margin: 10px 0
  border-radius: 5px
  text-align: center
  background-color: #fff
  overflow: hidden
  position: relative
  padding: 5px 10px 20px
  p
    margin: 0
    padding: 10px 0
    font-size: 18px
    font-weight: 600
    color: #ef1664
  img
    margin-left: 17%
    margin-right: 5%
    float: left
    max-width: 65px
    height: auto
  .defaultCountdown
    border: none
    background-color: inherit
    width: 50%
    .countdown-show4
      color: #FF9520
      font-size: 18px

// button to add product in wishlist
.wishlist
  border: 0.5px solid silver
  padding: 5px
  background-color: #fff
  border-radius: 5px
  form
    border-right: 1px solid silver
    display: inline-block
    padding: 2px
    background-color: inherit

    i
      float: left
      font-size: 35px
      margin-right: 10px

    .glyphicon-heart
      color: #f97c7c

    .glyphicon-flag
      color: #6a59c5

    input:last-child
      color: #f32727
      border: none
      line-height: 35px
      padding: 0 10px
      background-color: inherit
      font-size: 20px
      font-weight: 600

// other product info
#info
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  background-color: #fff
  border: 0.5px solid silver
  margin-top: 10px
  padding: 5px
  p
    padding-bottom: 7px
    border-bottom: 1px solid silver
    font-size: 17px
    color: #4337e6

  .info-1
    border: 1px solid silver
    padding: 5px
    text-align: center
    color: brown
    font-size: 18px
    font-weight: 600

    .item-quantity
      color: aquamarine
      font-size: 20px
      font-weight: 600
      margin: 0 5px
      background-color: black
      padding: 2px 7px

    span:last-child
      border-left: 3px solid black
      padding-left: 10px
      color: red
      font-weight: 400

  .info-2, .info-3
    background-color: white
    font-size: 20px
    padding: 5px 10px
    display: inline-block
    margin: 0
    i
      font-size: 20px
    span
      color: #6495ed

  .info-2
    width: 50%
    border-right: 1px solid silver
    i
      color: #b600ff

  .info-3
    width: 49%
    i
      color: #ef3544

  .info-in-action
    color: black
    padding: 20px 10px
    background-color: antiquewhite
    font-size: 20px
    margin: 7px -4px
    span
      margin-left: 5px
      color: #ec9526
      a
        color: $global-red
        &:hover
          text-decoration: none
          cursor: pointer

  .product-in-categories
    padding: 10px 5px
    overflow: hidden
    border-top: 1px solid black
    margin-top: 30px
    list-style: none
    display: block
    position: relative
    li
      float: left
      margin-left: 1em
      line-height: 1.5em
      font-size: 20px
      &:first-child
        margin-left: 0
        color: #f19d1b
      a
        color: $global-black
        &:hover
          text-decoration: none
          color: $global-red
          cursor: pointer

#description
  padding: 10px