@charset "UTF-8";
/****************GLOBAL COLORS*************** */
/********************************************** */
/****************GLOBAL FONTS**************** */
/********************************************** */
/****************TOP Section****************** */
/*feedback settings */
/*shopify settings */
/*in-out settings */
/*search settings */
/*login popup settings */
/********************************************* */
/*--------Goods-list--------- */
/*------Filter Colors-------- */
/*--------Nav Colors--------- */
/*------Main-Page Colors----- */
/********Breadcrumbs. Not worked at now******** */
/********************************************** */
/*********Product Preview******** */
/*----Product details Colors----- */
/*--------------Cart------------- */
/*-------admin-colors------- */
/*****************FONTS***************** */
/*----------GENERAL---------- */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document ========================================================================== */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/*1. Add the correct display in IE 9-. 2. Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  display: inline-block;
  vertical-align: baseline; }

/*Remove the default vertical scrollbar in IE. */
textarea {
  overflow: auto; }

/*1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/*Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* Interactive ========================================================================== */
/*Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and Firefox. */
details,
menu {
  display: block; }

/*Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Scripting ========================================================================== */
/*Add the correct display in IE 9-. */
canvas {
  display: inline-block; }

/*Add the correct display in IE. */
template {
  display: none; }

/* Hidden ========================================================================== */
/*Add the correct display in IE 10-. */
[hidden] {
  display: none; }

* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

body {
  margin: 0 auto;
  background-image: -webkit-linear-gradient(top, transparent, rgba(255, 255, 255, 0.4)), url("../media/work_images/site-bg.jpg");
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: repeat; }

.branch8 {
  position: fixed;
  z-index: 9999;
  height: 100px;
  bottom: 0;
  right: 0; }

.branch8-2 {
  position: fixed;
  z-index: 9999;
  height: 90px;
  top: 0;
  left: 0; }

header .container-fluid {
  padding-top: 5px;
  background-color: #69cc61; }

h2 {
  font-size: 20px !important;
  color: #5151ef;
  font-weight: 600; }

.all-content {
  padding-top: 10px;
  background-color: #fff; }

.defaultCountdown {
  margin-bottom: 5px;
  display: flex; }

.main-content {
  background-color: #f9f9f9; }

.block {
  margin-top: 2em; }

.sidebar {
  padding-right: 0 !important; }

footer {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  background-color: black; }
  footer h1 {
    padding: 10px 0 0 0;
    color: #fff;
    font-size: 20px;
    text-align: center; }
  footer h2, footer ul {
    text-align: center; }
  footer ul {
    list-style-type: none; }
    footer ul a {
      color: #cad2d8;
      cursor: pointer; }
      footer ul a:hover {
        text-decoration: none;
        opacity: 0.7; }
  footer address {
    color: #fff;
    text-align: center;
    margin: 10px 50px 10px 0; }

.administration-link {
  color: #0e0506 !important;
  font-size: 1em !important;
  margin-right: 10px; }

.no-margin {
  margin: 0 !important;
  padding: 0;
  color: white;
  font-weight: 800; }

.bx-wrapper {
  margin-bottom: 0 !important;
  overflow: hidden !important;
  height: 315px !important; }

.dashboard {
  margin-top: -5px;
  background-color: #fff; }
  .dashboard a {
    font-weight: 600;
    color: #de3ed1;
    margin-left: 50px; }
    .dashboard a:hover {
      text-decoration: none;
      cursor: pointer; }
    .dashboard a:last-child {
      margin-right: 25px;
      float: right;
      clear: both; }

.logo-wrapper {
  text-align: center;
  padding-top: 15px; }
  .logo-wrapper i {
    font-size: 70px;
    padding: 5px;
    color: #5e8c6f; }

.feedback {
  margin-top: 0; }
  .feedback .feedback-first-line {
    margin: 0;
    font-weight: 600;
    color: #fff;
    opacity: 0.7;
    font-size: 16px; }
  .feedback .feedback-second-line {
    margin: 0;
    font-weight: 600;
    color: #fff;
    opacity: 0.7;
    font-size: 16px; }
  .feedback .feedback-third-line {
    margin: 5px 0 0;
    font-size: 16px;
    color: #fff; }
  .feedback p:first-letter {
    text-transform: uppercase; }
  .feedback form input {
    padding-left: 5px;
    width: 80%;
    line-height: 1.5; }
  .feedback .glyphicon {
    margin-left: -5px;
    padding: 2px 5px 5px 5px;
    border: 0.2px solid #f7ebeb;
    background-color: #6b71b1;
    text-align: center;
    font-size: 16px;
    color: #eae50f; }

.base-navigation {
  text-align: center;
  list-style-type: none;
  float: right;
  margin-right: 5%;
  margin-top: 10px; }
  .base-navigation li {
    margin: 0 10px;
    float: left;
    clear: right; }
    .base-navigation li:first-letter {
      text-transform: uppercase; }
    .base-navigation li a {
      color: #fff;
      text-decoration: none;
      font-size: 17px; }
      .base-navigation li a:hover {
        color: #FF0000;
        text-decoration: none; }

.languages-form {
  overflow: hidden; }
  .languages-form ul {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    list-style-type: none;
    display: inline-block; }
    .languages-form ul li {
      float: left;
      padding: 1px; }
      .languages-form ul li:last-child button {
        border-right: none; }
      .languages-form ul li button {
        border: none;
        border-right: 1px solid #fff;
        background-color: inherit;
        padding: 3px 6px;
        font-size: 16px;
        text-transform: uppercase; }
        .languages-form ul li button:hover {
          cursor: pointer;
          opacity: 0.7; }

.selected-lang {
  color: #fff; }

.shopify {
  display: inline-block;
  width: 100%;
  list-style-type: none; }
  .shopify li {
    position: relative;
    width: 22%;
    float: left;
    margin: 0 10px; }
    .shopify li a:hover, .shopify li a:active {
      text-decoration: none;
      outline: none; }
    .shopify li p {
      margin: 0;
      padding: 0;
      font-size: 12px;
      text-align: center;
      color: #fff; }
    .shopify li .badge {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #ff8787;
      color: #fbfafa; }
  .shopify .glyphicon {
    display: block;
    text-align: center;
    font-size: 40px;
    color: #e4d6e2; }

.in-out a {
  overflow: hidden;
  position: relative;
  text-decoration: none;
  background-color: inherit; }
  .in-out a:hover {
    text-decoration: none; }
.in-out .glyphicon {
  padding: 4px 0 3px;
  display: block;
  text-align: center;
  font-size: 32px;
  color: #5d4d5a; }
.in-out p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font: 12px "Tahoma, arial, sens-serif"; }

.global-search form {
  padding-top: 16px; }
  .global-search form .searchfield {
    outline: none;
    border-radius: 4px 0 0 4px;
    border: none;
    width: 100%;
    text-transform: uppercase;
    height: 34px;
    padding-left: 10px; }
  .global-search form a {
    color: #969090;
    border: none;
    height: 34px;
    border-left: 1px solid; }

#login-popup .modal-header {
  border-bottom: none; }
#login-popup .modal-body {
  margin-bottom: 20px; }
#login-popup form {
  width: 80%;
  margin-left: 10%; }
  #login-popup form input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px; }
  #login-popup form button {
    margin-right: 6%;
    padding: 0;
    width: 47%;
    height: 40px;
    float: left;
    background-color: #74fb62;
    font-weight: bold; }
    #login-popup form button:hover {
      color: #FF0000; }
  #login-popup form a {
    padding: 2px 0 0 6px;
    width: 47%;
    height: 40px;
    border: 1px solid #968f8f;
    border-radius: 0px;
    background-color: #6d72e4;
    color: #fff;
    font-weight: bold;
    text-decoration: none; }
    #login-popup form a:hover {
      color: #000 !important; }

.message {
  font-weight: bold;
  font-size: 16px;
  color: #fff; }

.filters {
  background-color: #f9f9f9;
  padding-bottom: 10px; }

.filter-form {
  margin: 0.5em;
  padding: 0.3em; }
  .filter-form div {
    margin: 1.5em 0; }
    .filter-form div h4 {
      display: inline-block;
      margin: 0;
      padding: 0;
      line-height: 1.3em; }
    .filter-form div img {
      max-height: 1.3em;
      max-width: 1.3em; }
  .filter-form label {
    margin-right: 0.15em; }
  .filter-form input {
    width: 80%;
    border-radius: 2%; }
  .filter-form button {
    border: none;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    padding: 0.2em 2em;
    height: 2em;
    background-color: #6a6af9;
    color: #fff;
    font-weight: 600;
    border-radius: 3px; }

#id_description {
  width: 65%; }

.filter-populars-select select {
  width: 65%; }

.filter-price-range label {
  margin-right: 0.5em !important; }
.filter-price-range input {
  width: 25% !important; }

.brand-check ul {
  list-style: none; }
  .brand-check ul li label {
    vertical-align: middle; }
.brand-check input {
  width: inherit !important; }

.navigation-wrapper {
  display: flex;
  margin: -10px -15px 0;
  background-color: #fdb434; }

.main-navigation {
  display: inline-block;
  list-style: none;
  line-height: 2em;
  margin-bottom: 0 !important; }
  .main-navigation li {
    float: left; }
    .main-navigation li a {
      display: inline;
      height: inherit;
      cursor: pointer;
      text-decoration: none; }
      .main-navigation li a:hover {
        opacity: 0.7; }
    .main-navigation li p, .main-navigation li p > a {
      margin-left: 1em;
      margin-bottom: 0;
      color: #fff;
      font-weight: 600;
      font-size: 16px; }
      .main-navigation li p:hover, .main-navigation li p > a:hover {
        cursor: pointer;
        color: red !important; }
    .main-navigation li:first-child p > a {
      color: #19080c;
      margin-right: 30%; }
    .main-navigation li img {
      width: 1.2em;
      height: 1.2em; }
    .main-navigation li button {
      width: 1.2em;
      height: 1.2em; }

/*--------h2-header--------- */
#content-section aside {
  margin-top: 10px;
  padding-bottom: 10px; }

.goods {
  margin: 0;
  padding: 10px 0 10px 10px;
  background-color: #ffad38;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase; }

.goods-list {
  margin-top: 10px;
  list-style: none;
  border-top: 0.5px solid #f3e6e6; }
  .goods-list a {
    color: #7c867c; }
    .goods-list a:hover {
      text-decoration: none;
      opacity: 0.7; }
  .goods-list li {
    border: 0.5px solid #f3e6e6;
    border-top: none; }
    .goods-list li p {
      margin: 5px 0 5px 10px;
      font-size: 16px; }

/*FIRST-DISPLAY SETTINGS******************** */
.zavlekuha ul {
  margin: 0;
  padding: 9px 10px;
  background-color: #fdfcfa;
  display: inline-block;
  width: 100%;
  list-style-type: none; }
  .zavlekuha ul li {
    margin-left: 10px;
    float: left; }
    .zavlekuha ul li a, .zavlekuha ul li i {
      color: #ffad38; }
    .zavlekuha ul li a {
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase; }
      .zavlekuha ul li a:hover {
        text-decoration: none;
        color: #818def; }
    .zavlekuha ul li i {
      font-size: 16px; }

.sign-up {
  margin-top: -15px;
  padding: 15px 0; }
  .sign-up h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #7268ff;
    line-height: 1.5; }
  .sign-up button {
    border-radius: 3px;
    outline: none;
    border: none;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 35px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #69cc61; }
    .sign-up button a {
      color: inherit;
      text-decoration: none; }
      .sign-up button a:hover {
        text-decoration: none;
        opacity: 0.8; }

.hot-promotion-list {
  list-style-type: none;
  padding: 10px; }
  .hot-promotion-list a {
    text-decoration: none; }
  .hot-promotion-list li {
    background-color: antiquewhite;
    margin-bottom: 10px;
    padding: 10px;
    color: #f5f5dc; }
    .hot-promotion-list li h3 {
      margin: 10px 0;
      font-size: 18px;
      color: #5948de;
      text-transform: uppercase; }
    .hot-promotion-list li p {
      margin: 0;
      color: #5f5050; }
      .hot-promotion-list li p span, .hot-promotion-list li p a {
        color: #FF0000; }
      .hot-promotion-list li p a:hover {
        text-decoration: none;
        color: #000; }
  .hot-promotion-list .promotion-discount a {
    color: #3e3931; }

/*-----------Preview Category------------ */
#categories, #promotions, #novelties, #promotions, #viewed-items, #recommended {
  padding: 10px 0;
  margin: 0 -15px; }
  #categories h3, #promotions h3, #novelties h3, #promotions h3, #viewed-items h3, #recommended h3 {
    color: #000;
    margin: 0;
    padding: 30px 10px; }

#categories {
  margin: 0;
  padding: 0; }

.preview-category {
  height: 300px;
  margin: 10px 0;
  padding: 0 30px; }
  .preview-category img {
    max-height: 250px;
    max-width: 225px;
    height: auto;
    width: 100%;
    overflow: hidden; }
  .preview-category figcaption {
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #787d79;
    text-align: center; }

/*----------------BREADCRUMBS--------------- */
.breadcrumbs {
  background-color: #ccedf7; }
  .breadcrumbs a {
    color: #000;
    text-decoration: none;
    font-size: 1em; }
    .breadcrumbs a:hover {
      color: #f00; }
    .breadcrumbs a:first-child {
      margin-left: 0.5em; }
  .breadcrumbs span {
    margin: 0 0.3em; }

/*-------------SUB Navigation-------------- */
.sub-navigation {
  margin-top: 10px; }
  .sub-navigation ul {
    position: relative;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0; }
    .sub-navigation ul li {
      float: left;
      margin: 0 1em; }
      .sub-navigation ul li a {
        vertical-align: sub;
        color: #5f5d6b;
        font-size: 16px;
        text-decoration: none;
        font-weight: 600; }
        .sub-navigation ul li a:hover {
          opacity: 0.7; }

.best-promo {
  padding: 5px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #fbebd7; }

/********************************************* */
/*-------------PRODUCT STYLES-------------- */
.product-wrapper {
  position: relative;
  overflow: hidden;
  padding: 5px;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms; }
  .product-wrapper h2 {
    margin: 5px 0 0;
    color: #4d37c1;
    font-size: 22px;
    font-weight: normal; }
    .product-wrapper h2:first-letter {
      text-transform: uppercase; }
  .product-wrapper img {
    margin: 0 auto;
    max-height: 150px;
    width: auto; }
  .product-wrapper:hover {
    -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
    z-index: 5;
    border: 1px solid silver;
    border-radius: 2px;
    background-color: #FFFADB; }

.discount-img {
  position: absolute;
  right: 0;
  z-index: 3;
  max-width: 50px;
  height: auto; }

.image-block {
  max-height: 150px;
  text-align: center; }
  .image-block a {
    position: relative;
    overflow: hidden; }
    .image-block a img {
      margin: 0 auto;
      height: 100%; }

.item-price {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  color: #63615e; }

.old-price {
  opacity: 0.4;
  text-decoration: line-through; }

.discount-price {
  color: #FF0000; }

.product-in-stock p {
  margin-left: 10px;
  font-weight: 700;
  font-size: 13px; }

.product_ends {
  color: #FF0000; }

.product_in_stock {
  color: #171615; }

.product_not_available {
  color: #131212;
  opacity: 0.3; }

.product-actions {
  display: inline-block;
  margin: 0;
  list-style-type: none; }
  .product-actions li {
    float: left;
    position: relative;
    padding: 2px;
    margin: 0 5px;
    border-radius: 10px; }
    .product-actions li a:hover {
      text-decoration: none;
      cursor: pointer; }
    .product-actions li .glyphicon {
      padding: 3px;
      display: block;
      text-align: center;
      font-size: 35px; }
  .product-actions .product-actions-cart {
    background-color: #65b765; }
    .product-actions .product-actions-cart i {
      color: #fff; }
  .product-actions .product-actions-heart {
    background-color: inherit; }
    .product-actions .product-actions-heart i {
      color: #f77e7e; }
  .product-actions .product-actions-stats {
    background-color: inherit; }
    .product-actions .product-actions-stats i {
      color: #a99f9f;
      opacity: 0.5; }

/*******Paginator******** */
.paginator {
  text-align: center;
  clear: both; }
  .paginator .pagination {
    display: inline-block;
    position: relative;
    overflow: hidden; }

.active-page {
  background-color: #b7d8f3 !important; }

.stub {
  text-align: center;
  padding-bottom: 20px; }
  .stub h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #69cc61; }
  .stub p {
    text-align: center;
    font-size: 16px;
    color: #191818; }
  .stub a {
    cursor: pointer;
    border: none;
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #6a6af9;
    color: #fff;
    font-weight: 600;
    border-radius: 3px; }
    .stub a:hover {
      text-decoration: none; }

.product-detail-wrapper h1 {
  color: #1d07c5;
  font-size: 40px;
  text-transform: uppercase; }
.product-detail-wrapper .prod-detail-price {
  display: inline-block; }
  .product-detail-wrapper .prod-detail-price span:first-child {
    position: absolute;
    margin: 0;
    padding: 0; }
  .product-detail-wrapper .prod-detail-price span:last-child {
    border-radius: 5px;
    background-color: #f5dbf3;
    margin: 25px 5px 25px 0;
    font-size: 30px;
    display: inline-block;
    padding: 1px 30px; }
  .product-detail-wrapper .prod-detail-price p {
    color: #647164;
    border-radius: 5px;
    font-size: 30px;
    background-color: #fbcdd7;
    padding: 2px 30px;
    font-weight: 400; }

.product-all-info {
  background-color: #f5f5f5;
  padding-bottom: 10px; }

.buyed {
  display: inline-block; }
  .buyed a {
    font-size: 30px;
    background-color: #10d810;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 600; }
    .buyed a i {
      color: #f7eded; }
    .buyed a span {
      color: white;
      font-size: 20px; }
    .buyed a:hover {
      text-decoration: none;
      cursor: pointer; }
  .buyed .not-available {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #af8f8f; }

.add-cart-form input:last-child {
  padding: 10px 30px 7px;
  background-color: #10d810;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  font-weight: 600; }

.discount-counter {
  border: 1px solid silver;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  padding: 5px 10px 20px; }
  .discount-counter p {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: #ef1664; }
  .discount-counter img {
    margin-left: 17%;
    margin-right: 5%;
    float: left;
    max-width: 65px;
    height: auto; }
  .discount-counter .defaultCountdown {
    border: none;
    background-color: inherit;
    width: 50%; }
    .discount-counter .defaultCountdown .countdown-show4 {
      color: #FF9520;
      font-size: 18px; }

.wishlist {
  border: 0.5px solid silver;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px; }
  .wishlist form {
    border-right: 1px solid silver;
    display: inline-block;
    padding: 2px;
    background-color: inherit; }
    .wishlist form i {
      float: left;
      font-size: 35px;
      margin-right: 10px; }
    .wishlist form .glyphicon-heart {
      color: #f97c7c; }
    .wishlist form .glyphicon-flag {
      color: #6a59c5; }
    .wishlist form input:last-child {
      color: #f32727;
      border: none;
      line-height: 35px;
      padding: 0 10px;
      background-color: inherit;
      font-size: 20px;
      font-weight: 600; }

#info {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: 0.5px solid silver;
  margin-top: 10px;
  padding: 5px; }
  #info p {
    padding-bottom: 7px;
    border-bottom: 1px solid silver;
    font-size: 17px;
    color: #4337e6; }
  #info .info-1 {
    border: 1px solid silver;
    padding: 5px;
    text-align: center;
    color: brown;
    font-size: 18px;
    font-weight: 600; }
    #info .info-1 .item-quantity {
      color: aquamarine;
      font-size: 20px;
      font-weight: 600;
      margin: 0 5px;
      background-color: black;
      padding: 2px 7px; }
    #info .info-1 span:last-child {
      border-left: 3px solid black;
      padding-left: 10px;
      color: red;
      font-weight: 400; }
  #info .info-2, #info .info-3 {
    background-color: white;
    font-size: 20px;
    padding: 5px 10px;
    display: inline-block;
    margin: 0; }
    #info .info-2 i, #info .info-3 i {
      font-size: 20px; }
    #info .info-2 span, #info .info-3 span {
      color: #6495ed; }
  #info .info-2 {
    width: 50%;
    border-right: 1px solid silver; }
    #info .info-2 i {
      color: #b600ff; }
  #info .info-3 {
    width: 49%; }
    #info .info-3 i {
      color: #ef3544; }
  #info .info-in-action {
    color: black;
    padding: 20px 10px;
    background-color: antiquewhite;
    font-size: 20px;
    margin: 7px -4px; }
    #info .info-in-action span {
      margin-left: 5px;
      color: #ec9526; }
      #info .info-in-action span a {
        color: #FF0000; }
        #info .info-in-action span a:hover {
          text-decoration: none;
          cursor: pointer; }
  #info .product-in-categories {
    padding: 10px 5px;
    overflow: hidden;
    border-top: 1px solid black;
    margin-top: 30px;
    list-style: none;
    display: block;
    position: relative; }
    #info .product-in-categories li {
      float: left;
      margin-left: 1em;
      line-height: 1.5em;
      font-size: 20px; }
      #info .product-in-categories li:first-child {
        margin-left: 0;
        color: #f19d1b; }
      #info .product-in-categories li a {
        color: #000; }
        #info .product-in-categories li a:hover {
          text-decoration: none;
          color: #FF0000;
          cursor: pointer; }

#description {
  padding: 10px; }

#cart h2 {
  color: #555556; }
  #cart h2:first-letter {
    text-transform: uppercase; }
#cart h3 {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #69cc61;
  text-align: center;
  border: 1px solid silver;
  padding: 10px;
  font-weight: 600; }
#cart h4, #cart p {
  text-align: center; }
#cart p {
  margin: 30px 0;
  font-size: 20px; }
  #cart p:last-child a:first-child {
    color: #fff;
    background-color: #69cc61;
    border: none; }
  #cart p:last-child a:last-child {
    color: #fff;
    background-color: #f5b93b;
    border: none; }
#cart .cart-detail-unit {
  color: #000; }
#cart .cart-detail-total {
  color: #FF0000; }
#cart .return-to-shopping {
  font-weight: 600;
  color: #3e0686;
  text-decoration: none;
  border: 1px solid silver;
  padding: 7px 15px;
  font-size: 20px;
  background-color: #69cc61;
  border-radius: 5px 15px; }
#cart .cart-coupon-p {
  text-align: start;
  display: inline-block;
  margin: 20px 10px; }
#cart .coupon-form {
  display: inline; }
  #cart .coupon-form label {
    display: none; }
  #cart .coupon-form input:first-of-type {
    padding: 3px;
    margin-right: -5px; }
  #cart .coupon-form input:last-child {
    padding: 4px 10px;
    background-color: #efaf27;
    border: 1px solid silver;
    color: #fff; }

.cart {
  width: 100%; }
  .cart tr {
    border: 0.5px solid silver;
    border-top: none; }
  .cart th {
    text-align: center;
    padding: 5px 5px;
    border: 1px solid bisque; }
  .cart thead, .cart tfoot {
    background-color: #c6e1e8; }
  .cart tbody {
    background-color: #f0f8ff; }
  .cart img {
    margin: 0 auto;
    padding: 4px 0;
    max-width: 100px;
    height: auto; }

.update-cart-form input:first-child {
  margin-right: -4px;
  padding: 5px;
  border-radius: 7px 0 0 7px;
  border: 2px solid #69cc61; }
.update-cart-form input:last-child {
  color: white;
  padding: 5px;
  border-radius: 0 7px 7px 0;
  background-color: #69cc61;
  border: 2px solid #69cc61; }

.remove-from-cart {
  border: 1px solid silver;
  background-color: #efefef;
  padding: 4px 8px;
  border-radius: 5px; }
  .remove-from-cart:hover {
    text-decoration: none;
    cursor: pointer;
    color: #FF0000; }

/********Admin styles******** */
.admin-block {
  margin-bottom: 1em;
  border: 1px solid #C0C0C0;
  border-radius: 5px; }

.admin-block-header {
  background-color: #C0C0C0;
  margin-bottom: 1em; }

/*****Admin category block**** */
#searchform {
  float: right;
  clear: right;
  margin-bottom: 0.5em;
  padding: 0; }
  #searchform input, #searchform button {
    height: 2.25em; }
  #searchform input {
    padding-left: 0.5em; }

.searchbutton {
  width: 3em; }

.objects-list-head {
  background-color: #9faba3;
  padding-right: 1.5%; }
  .objects-list-head p {
    color: #24149e !important;
    font-weight: 800; }

.objects-list-content ul {
  width: 100%;
  list-style: none;
  display: inline-block;
  background-color: #dedede;
  border: 1px solid black;
  height: 150px;
  overflow-y: scroll; }
  .objects-list-content ul li {
    float: left;
    width: 100%;
    border-bottom: 1px solid silver; }
    .objects-list-content ul li p:first-child {
      font-weight: 700;
      color: #4744b1; }
  .objects-list-content ul a {
    display: inline-block;
    margin-left: 30%; }

.objects-list-head p, .objects-list-content p {
  display: inline-flex;
  overflow: hidden;
  margin: 0;
  padding-bottom: 5px;
  width: 12%;
  color: #21212d; }
  .objects-list-head p:first-child, .objects-list-content p:first-child {
    padding-left: 5px; }
  .objects-list-head p:nth-child(2), .objects-list-content p:nth-child(2) {
    width: 16%; }
  .objects-list-head p:nth-child(5), .objects-list-head p:nth-child(6), .objects-list-content p:nth-child(5), .objects-list-content p:nth-child(6) {
    width: 15%; }
  .objects-list-head p:nth-child(4), .objects-list-content p:nth-child(4) {
    width: 14%; }
  .objects-list-head p:last-child, .objects-list-content p:last-child {
    border: none; }

.product-quantity {
  padding-left: 20px; }

.category-form {
  width: 100%;
  display: inline-block;
  padding: 2em 0 1em 1em;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  background-color: #b6b9b7; }

.work-class-1 {
  margin-right: 1em;
  float: right;
  clear: right;
  /******Styles for Items List**** */ }

.admin-cat-list, .admin-product-list {
  background-color: #b6b9b7;
  position: relative;
  padding: 1em 0;
  list-style: none;
  display: inline-block;
  width: 100%;
  border: 1px solid #C0C0C0; }

.admin-cat-list {
  height: 200px;
  overflow-y: scroll; }
  .admin-cat-list li {
    margin-left: 1em; }

.admin-product-list {
  height: 300px;
  overflow-y: scroll; }

.header-category-table {
  padding: 0.5em 0 0.5em 1em;
  display: inline-block;
  width: 100%;
  border: 1px solid #C0C0C0;
  background-color: #9faba3; }
  .header-category-table p {
    display: inline-block;
    width: 39%; }
    .header-category-table p:last-child {
      width: 30%; }

.line-in-category-table p {
  display: inline-block;
  width: 13%;
  color: #3c2b2b;
  font-size: 1.3em;
  font-weight: 600; }
  .line-in-category-table p:first-child {
    width: 40%; }
  .line-in-category-table p:nth-child(2) {
    width: 30%; }

/*******Admin product***** */
.product-form {
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  background-color: #b6b9b7;
  padding: 1em;
  margin-bottom: 1em; }

.admin-product-info {
  margin: 1em;
  padding: 0.5em 0 0.5em 1em;
  border: 1px solid silver;
  background-color: #f3dddd;
  border-radius: 5px; }
  .admin-product-info div p {
    display: inline-block;
    font-weight: 600;
    font-size: 1.3em;
    width: 13%; }
    .admin-product-info div p:first-child {
      width: 70%; }
  .admin-product-info div ul {
    list-style: none;
    display: inline-flex; }
    .admin-product-info div ul li {
      margin-left: 0.5em;
      float: left;
      clear: left; }

.product-title {
  color: red !important;
  font-size: 1.7em !important; }
  .product-title a {
    text-decoration: none; }
    .product-title a:hover {
      color: black; }

.product-form label {
  width: 25%; }
.product-form input {
  width: 65%; }

.admin-up-product {
  display: inline-block;
  width: 100%;
  background-color: #91CEA6;
  border: 1px solid silver;
  border-radius: 5px;
  margin: 3em 0;
  padding: 1em; }

/*******Modal***** */
.modal-body a {
  display: inline-block;
  padding-right: 1em;
  line-height: 2.3em;
  width: 7em;
  border: #C0C0C0;
  border-radius: 5px;
  background-color: #b6b9b7; }
  .modal-body a:hover {
    text-decoration: none;
    color: red !important; }
  .modal-body a span {
    margin-left: 13px;
    font-weight: 700;
    font-size: 1.3em; }

/*******users****** */
.admin-user-create {
  border-radius: 5px;
  padding: 5px 20px;
  margin-bottom: 10px; }
  .admin-user-create a {
    color: #f71e1e;
    font-size: 18px;
    font-weight: bolder; }
    .admin-user-create a:hover {
      text-decoration: none;
      cursor: pointer;
      color: blue;
      font-size: 19px; }

.users-list {
  list-style: none;
  display: inline-block;
  background-color: #dedede;
  border: 1px solid black;
  border-radius: 5px;
  height: 70px;
  overflow-y: scroll; }
  .users-list li {
    padding-left: 1%;
    float: left;
    width: 100%;
    border-bottom: 1px solid silver; }
    .users-list li p {
      display: inline-flex;
      overflow: hidden;
      border-right: 1px solid silver;
      margin: 0;
      padding-bottom: 5px;
      width: 12%; }
      .users-list li p:nth-child(2) {
        width: 16%; }
      .users-list li p:nth-child(5), .users-list li p:nth-child(6) {
        width: 15%; }
      .users-list li p:nth-child(4) {
        width: 14%; }
      .users-list li p:last-child {
        border: none; }

.user-action {
  width: 4% !important;
  text-align: center; }

/*****Admin Panel Forms***** */
.userform {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #d1c4fd; }
  .userform ul, .userform span {
    display: none; }
  .userform label {
    width: 40%; }
  .userform p input {
    width: 50%;
    margin: 0; }
  .userform input {
    width: 25%;
    margin-left: 37%; }

.form-header-h2 {
  color: #a29393 !important; }

.back-button {
  margin-top: 20px;
  font-weight: 900;
  font-size: 16px;
  color: #f0f8ff;
  background-color: #717dd0;
  padding: 10px; }

.modal-content {
  display: inline-block;
  text-align: center;
  width: 50%;
  vertical-align: middle;
  margin-left: 25%;
  margin-top: 30%; }

.checkout-page {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e2dccf; }
  .checkout-page h1 {
    text-align: center;
    border: 1px solid;
    background-color: #69cc61;
    color: white;
    padding: 5px; }

.order-info h3 {
  text-align: center;
  color: #f79410; }
.order-info ul {
  list-style: none; }
  .order-info ul li {
    margin-bottom: 5px;
    padding: 5px 0;
    font-weight: bold;
    font-size: 18px;
    color: #736767; }
  .order-info ul .title, .order-info ul .price {
    color: #612bde; }

.total-cost {
  font-weight: bold;
  font-size: 16px;
  color: red;
  text-align: end;
  background-color: #f3dffd;
  padding: 10px; }

.profile-wrapper {
  margin: 0 -15px;
  padding: 20px;
  background-color: beige; }
  .profile-wrapper .profile-general-info {
    background-color: gainsboro;
    padding: 10px;
    border: 1px solid; }
    .profile-wrapper .profile-general-info h1 {
      margin: 0;
      color: #000; }
      .profile-wrapper .profile-general-info h1:first-letter {
        text-transform: uppercase; }
    .profile-wrapper .profile-general-info p {
      margin: 0;
      font-size: 16px; }
      .profile-wrapper .profile-general-info p span {
        font-size: 25px;
        color: red;
        font-weight: bold; }

.user-orders {
  margin: 5px;
  text-align: center; }

.user-order-wrapper h2 {
  margin: 0 0 10px 0;
  color: black;
  font-weight: 500; }
  .user-order-wrapper h2 span {
    margin-right: 10%;
    font-weight: bold;
    color: #69cc61; }
  .user-order-wrapper h2:first-child span {
    margin-left: 178px;
    color: darkorange; }
.user-order-wrapper div {
  padding-top: 10px; }
.user-order-wrapper ul {
  list-style-type: none;
  display: inline-block; }
  .user-order-wrapper ul li {
    border: 1px solid silver;
    padding: 10px;
    margin-bottom: 5px; }
    .user-order-wrapper ul li img {
      margin: 0 auto; }
    .user-order-wrapper ul li h3 {
      font-size: 18px;
      color: #5c69c7;
      text-align: center; }
    .user-order-wrapper ul li p {
      text-align: center;
      padding: 40px 0;
      font-size: 16px;
      font-weight: 700; }
    .user-order-wrapper ul li .order-product-title {
      font-size: 16px;
      color: #5f9ea0; }
      .user-order-wrapper ul li .order-product-title:first-letter {
        text-transform: uppercase; }
    .user-order-wrapper ul li .order-discount {
      color: #FF0000; }

/***************COLORS************ */
.message-container {
  background-color: #f5f5f5; }

/******╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╤Б╤Б╤Л╨╗╨║╨╕ ╨╛╤В╨╛╨▒╤А╨░╨╢╨╡╨╜╨╕╤П/╤Б╨║╤А╤Л╤В╨╕╤П ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╨╡╨▓ */
.show-content, .no-comments {
  font-size: 12px;
  margin: 5px 0 0;
  text-align: center; }

.show-content {
  color: #000;
  font-size: 20px; }
  .show-content:hover {
    cursor: pointer;
    color: red; }

.no-comments {
  font-size: 20px;
  color: #000; }

/*******╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╤Д╨╛╤А╨╝╤Л ╨┤╨╛╨▒╨░╨▓╨╗╨╡╨╜╨╕╤П/╤А╨╡╨┤╨░╨║╤В╨╕╤А╨╛╨▓╨░╨╜╨╕╤П ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╨╡╨▓ */
.comment_form .comment_text, .add_comment_form .comment_text {
  margin: 0; }
  .comment_form .comment_text textarea, .add_comment_form .comment_text textarea {
    width: 80%;
    height: 100px;
    margin-left: 10%;
    margin-top: 5px; }
  .comment_form .comment_text input, .add_comment_form .comment_text input {
    width: 100%; }
  .comment_form .comment_text label, .add_comment_form .comment_text label {
    display: none; }
.comment_form .submit-comment-button, .add_comment_form .submit-comment-button {
  margin-left: 77%;
  padding: 5px; }

/********╨Ъ╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╨┤╨╗╤П ╤Б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╤П, ╨▓╨║╨╗╤О╤З╨░╤П ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╨╕ */
.message-wrapper {
  margin: 10px 0;
  overflow: hidden;
  padding: 10px;
  position: relative; }

/********╨Ъ╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╨┤╨╗╤П ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╤П */
.comment-wrapper {
  background-color: #fff;
  display: inline-block;
  margin: 5px 0;
  padding: 7px; }

.edit-comment, .edit-message {
  color: #FF0000;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none; }
  .edit-comment:hover, .edit-message:hover {
    color: #0000FF; }
  .edit-comment:active, .edit-message:active {
    border: none;
    color: #FFFF00; }

/*********╨б╨░╨╝ ╨▒╨╗╨╛╨║ ╤Б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╤П */
.message-body {
  margin-bottom: 10px;
  padding: 10px; }

/*********╨в╨╡╨║╤Б╤В ╤Б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╤П/╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╤П */
.comment-text {
  color: #292121;
  font-size: 16px;
  margin: 5px 0 10px 15px;
  text-align: justify; }
  .comment-text:first-letter {
    text-transform: uppercase; }

/*********╨Р╨▓╤В╨╛╤А */
.message-author, .comment-author {
  color: #7165d2;
  display: inline-block;
  font-size: 18px;
  font-family: "sans-serif";
  margin: 0 5px; }
  .message-author:first-letter, .comment-author:first-letter {
    text-transform: uppercase; }

.message-date, .comment-date {
  color: #7c8790;
  font-size: 14px; }

.comment, .reply {
  cursor: pointer;
  color: #360ada;
  margin-left: 30px; }
  .comment:hover, .reply:hover {
    color: #FF0000; }

.reply {
  float: right; }

.comment {
  margin-left: 0;
  font-size: 20px;
  margin-bottom: 20px; }
  .comment:hover {
    text-decoration: none; }

/********╨Т╨╗╨╛╨╢╨╡╨╜╨╜╤Л╨╡ ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╨╕ */
.all-comments {
  clear: both;
  display: none;
  margin-left: 15px; }

/*******╨║╨╗╨░╤Б╤Б ╨┤╨╗╤П ╨╛╤В╨╛╨▒╤А╨░╨╢╨╡╨╜╨╕╤П ╤Б╨║╤А╤Л╤В╤Л╤Е ╨▒╨╗╨╛╨║╨╛╨▓ ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╨╡╨▓ */
.special {
  display: block; }

/*# sourceMappingURL=style.css.map */
