
/***************COLORS*************/
$body-bgc: #a3aaf9
$msg-container-bgc: #e4ece2
$global-black: #000
$global-white: #fff
$login-div-bgc: #FAEBD7
$login-a-bgc: #94a6f7
$login-a-color: #fff
$login-p-color: #717980
$msg-form-add-bgc: #fffcad
$msg-form-edit-bgc: #f3baef
$com-form-bgc: #C5FFB4
$comment-wrapper-bgc: #d5e0ff
$edit-link-color: #FF0000
$edit-link-hover-color: #0000FF
$edit-link-active-color: #FFFF00
$msg-body-bgc: #e2d5e2
$msg-text-color: #292121
$msg-first-letter: #5fd82f
$msg-author-color: #7165d2
$date-color: #7c8790
$comment-color: #360ada
$show-content-c: #39bd44


.message-container
  background-color: #f5f5f5


/******Стили для ссылки отображения/скрытия комментариев
.show-content, .no-comments
  font-size: 12px
  margin: 5px 0 0
  text-align: center


.show-content
  color: #000
  font-size: 20px
  &:hover
    cursor: pointer
    color: red


.no-comments
  font-size: 20px
  color: $global-black


/*******Стили для формы добавления/редактирования комментариев
.comment_form, .add_comment_form
  .comment_text
    margin: 0
    textarea
      width: 80%
      height: 100px
      margin-left: 10%
      margin-top: 5px

    input
      width: 100%

    label
      display: none

  .submit-comment-button
    margin-left: 77%
    padding: 5px


/********Контейнер для сообщения, включая комментарии
.message-wrapper
  margin: 10px 0
  overflow: hidden
  padding: 10px
  position: relative


/********Контейнер для комментария
.comment-wrapper
  background-color: #fff
  display: inline-block
  margin: 5px 0
  padding: 7px


.edit-comment, .edit-message
  color: $edit-link-color
  cursor: pointer
  font-size: 12px
  text-decoration: none

  &:hover
    color: $edit-link-hover-color

  &:active
    border: none
    color: $edit-link-active-color


/*********Сам блок сообщения
.message-body
  //background-color: $msg-body-bgc
  margin-bottom: 10px
  padding: 10px


/*********Текст сообщения/комментария
.comment-text
  color: $msg-text-color
  font-size: 16px
  margin: 5px 0 10px 15px
  text-align: justify
  &:first-letter
    text-transform: uppercase


/*********Автор
.message-author, .comment-author
  color: $msg-author-color
  display: inline-block
  font-size: 18px
  font-family: "sans-serif"
  margin: 0 5px

  &:first-letter
    text-transform: uppercase


.message-date, .comment-date
  color: $date-color
  font-size: 14px


.comment, .reply
  cursor: pointer
  color: $comment-color
  margin-left: 30px

  &:hover
    color: $edit-link-color

.reply
  float: right

.comment
  margin-left: 0
  font-size: 20px
  margin-bottom: 20px
  &:hover
    text-decoration: none


/********Вложенные комментарии
.all-comments
  clear: both
  display: none
  margin-left: 15px


/*******класс для отображения скрытых блоков комментариев
.special
  display: block

