{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Admin panel' %}
{% endblock title %}

{% block slider %}
{% endblock slider %}

{% block main-content %}
    <h1>
        {% trans 'Admin panel' %}
    </h1>
    <div class="row admin-block">
        {% include 'admin/user-admin.html' %}
    </div>
    <div class="row admin-block">
        {% include 'admin/category-admin.html' %}
    </div>
    <div class="row admin-block">
        {% include 'admin/products-admin.html' %}
    </div>
    <div class="row admin-block">
        {% include 'admin/orders-admin.html' %}
    </div>
{% endblock main-content %}