{% load static %}
{% load i18n %}
{% load models_trans %}


<div class="col-lg-12 admin-block-header">
    <h4>{% trans 'Categories' %}</h4>
</div>

<div class="col-lg-12">
    <button class="admin-user-create">
        <a href="{% url 'moderator:categoryAdd' %}">{% trans 'Add Category' %}</a>
    </button>
    <form id="searchform" action="" method="get" accept-charset="utf-8">
      <input class="searchfield" id="searchbox" name="cat" type="text" placeholder="{% trans 'Search' %}">
      <button class="searchbutton" type="submit">Go</button>
    </form>
</div>

<div class="col-lg-12">
    <div class="objects-list-head">
        <p>{% trans 'Title' %}</p>
        <p>{% trans 'Parent' %}</p>
        <p>{% trans 'Created' %}</p>
        <p class="user-action">{% trans 'Up' %}</p>
        <p class="user-action">{% trans 'Del' %}</p>
    </div>
    <div class="objects-list-content">
        {% if categories %}
        <ul class="user-list">
            {% for category in categories %}
            <li class="category-item">
                <p>{{category|translate_field:'title'}}</p>
                <p>
                    {% with parent=category.parent%}
                        {{parent|translate_field:'title'}}
                    {%endwith%}
                </p>
                <p>{{ category.created }}</p>
                <p class="user-action">
                    <a href="{% url 'moderator:catUpdate' category.slug %}">
                        <img src="{% static 'media/work_images/icons-edit.png' %}" alt="">
                    </a>
                </p>
                <p class="user-action">
                    <a href="#" id="{{ category.id }}" class="category-del-img" data-toggle="modal" data-target="#category-del-modal">
                        <img src="{% static 'media/work_images/icons-delete.png' %}"  alt="">
                    </a>
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!--MODAL -->
    <div class="modal fade" id="category-del-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans 'Confirm deleting' %}</h4>
          </div>
          <div class="modal-body">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
              <a href="/moderator/cat_delete/=" class="btn btn-default no-margin">{% trans 'Delete' %}</a>
          </div>
        </div>
      </div>
    </div>
</div>