{% load static %}
{% load i18n %}
{% load models_trans %}


<div class="col-lg-12 admin-block-header">
    <h4>{% trans 'Orders block' %}</h4>
</div>

<div class="col-lg-12">
    <form id="searchform" action="" method="get" accept-charset="utf-8">
      <input class="searchfield" id="searchbox" name="ord" type="text" placeholder="{% trans 'Search' %}">
      <button class="searchbutton" type="submit">Go</button>
    </form>
</div>

<div class="col-lg-12">
    <div class="objects-list-head">
        <p>{% trans 'Name' %}</p>
        <p>{% trans 'Lastname' %}</p>
        <p>{% trans 'Email' %}</p>
        <p>{% trans 'City' %}</p>
        <p>{% trans 'Address' %}</p>
        <p>{% trans 'Postal' %}</p>
        <p class="user-action">{% trans 'Sent' %}</p>
        <p class="user-action">{% trans 'Paid' %}</p>
        <p class="user-action">{% trans 'Del' %}</p>
    </div>
    <div class="objects-list-content">
        {% if orders %}
        <ul class="user-list">
            {% for order in orders %}
            <li class="order-item">
                <p>{{order|translate_field:'first_name'}}</p>
                <p>{{ order|translate_field:'last_name'}}</p>
                <p>{{ order.email }}</p>
                <p>{{ order.city }}</p>
                <p>{{ order.address }}</p>
                <p>{{ order.postal_code }}</p>
                <p class="user-action">
                   <a href="{% url 'moderator:order-sent' order.id %}">
                       {% if order.is_sent %}
                            <img src="{% static 'media/work_images/icons-ok.png' %}" alt="">
                        {% else %}
                            <img src="{% static 'media/work_images/icons-cancel.png' %}" alt="">
                        {% endif %}
                   </a>
                </p>
                <p class="user-action">
                    <a href="{% url 'moderator:order-paid' order.id %}">
                        {% if order.is_paid %}
                            <img src="{% static 'media/work_images/icons-ok.png' %}" alt="">
                        {% else %}
                            <img src="{% static 'media/work_images/icons-cancel.png' %}" alt="">
                        {% endif %}
                    </a>
                </p>
                <p class="user-action">
                    <a href="#" id="{{ order.id }}" class="order-del-img" data-toggle="modal" data-target="#order-del-modal">
                        <img src="{% static 'media/work_images/icons-delete.png' %}" alt="">
                    </a>
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!--MODAL -->
    <div class="modal fade" id="order-del-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans 'Confirm deleting' %}</h4>
          </div>
          <div class="modal-body">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
              <a href="/moderator/order_delete/=" class="btn btn-default no-margin">{% trans 'Delete' %}</a>
          </div>
        </div>
      </div>
    </div>
</div>