{% load static %}
{% load i18n %}
{% load models_trans %}


<div class="col-lg-12 admin-block-header">
    <h4>{% trans 'Product block' %}</h4>
</div>

<div class="col-lg-12">
    <button class="admin-user-create">
        <a href="{% url 'moderator:productAdd' %}">{% trans 'Add product' %}</a>
    </button>
    <form id="searchform" action="" method="get" accept-charset="utf-8">
      <input class="searchfield" id="searchbox" name="prod" type="text" placeholder="{% trans 'Search' %}">
      <button class="searchbutton" type="submit">Go</button>
    </form>
</div>

<div class="col-lg-12">
    <div class="objects-list-head">
        <p>{% trans 'Title' %}</p>
        <p>{% trans 'Quantity' %}</p>
        <p>{% trans 'Price' %}</p>
        <p>{% trans 'Discount' %}</p>
        <p>{% trans 'Category' %}</p>
        <p class="user-action">{% trans 'Up' %}</p>
        <p class="user-action">{% trans 'Del' %}</p>
    </div>
    <div class="objects-list-content">
        {% if items %}
        <ul class="user-list">
            {% for product in items %}
            <li class="product-item">
                <p>{{product|translate_field:'item_title'}}</p>
                <p class="product-quantity">{{ product.quantity }}</p>
                <p>{{ product.price }}</p>
                <p class="product-discount">{{ product.discount }}</p>
                <p>
                    {%with cata=product.category.first%}
                        {{cata|translate_field:'title'}}
                    {%endwith%}
                </p>
                <p class="user-action">
                    <a href="{% url 'moderator:itemUpdate' product.slug %}">
                        <img src="{% static 'media/work_images/icons-edit.png' %}" alt="">
                    </a>
                </p>
                <p class="user-action special-1">
                    <a href="" id="{{ product.id }}" class="product-del-img" data-toggle="modal" data-target="#product-del-modal">
                        <img src="{% static 'media/work_images/icons-delete.png' %}" alt="">
                    </a>
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!--MODAL -->
    <div class="modal fade" id="product-del-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans 'Confirm deleting' %}</h4>
          </div>
          <div class="modal-body">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
              <a href="/moderator/item_delete/=" class="btn btn-default no-margin">{% trans 'Delete' %}</a>
          </div>
        </div>
      </div>
    </div>
</div>