{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    {% trans 'User form' %}
{% endblock title %}

{% block main-content %}
<div class="col-lg-12">
    <a href="{% url 'moderator:panel' %}" class="btn back-button">{% trans 'Back to admin panel' %}</a>
</div>
<div class="col-lg-4 col-lg-offset-4">
    <h2 class="form-header-h2">{% trans 'Create user form' %}</h2>
    <form action="{% url 'moderator:create-user' %}" method="post" class="userform" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Submit' %}" class="btn-default">
    </form>
</div>
{% endblock main-content %}