{% load static %}
{% load i18n %}


<div class="col-lg-12 admin-block-header">
    <h4>{% trans 'Users' %}</h4>
</div>

<div class="col-lg-12">
    <button class="admin-user-create"><a href="{% url 'moderator:create-user' %}">{% trans 'Add User' %}</a></button>
</div>

<div class="col-lg-12">
    <div class="objects-list-head">
        <p>{% trans 'username' %}</p>
        <p>{% trans 'email' %}</p>
        <p>{% trans 'First name' %}</p>
        <p>{% trans 'Last name' %}</p>
        <p>{% trans 'Joined' %}</p>
        <p>{% trans 'Last login' %}</p>
        <p class="user-action">{% trans 'Staff' %}</p>
        <p class="user-action">{% trans 'Up' %}</p>
        <p class="user-action">{% trans 'Del' %}</p>
    </div>
    <div class="objects-list-content">
        {% if users %}
        <ul class="user-list">
            {% for user in users %}
            <li class="user-item">
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
                <p>{{ user.first_name }}</p>
                <p>{{ user.last_name }}</p>
                <p>{{ user.date_joined }}</p>
                <p>{{ user.last_login }}</p>
                <p class="user-action">
                    <a href="{% url 'moderator:staff-change' user.pk %}">
                        {% if user.is_staff %}
                            <img src="{% static 'media/work_images/icons-ok.png' %}" alt="">
                        {% else %}
                            <img src="{% static 'media/work_images/icons-cancel.png' %}" alt="">
                        {% endif %}
                    </a>
                </p>
                <p class="user-action">
                    <a href="{% url 'moderator:update-user' user.pk %}">
                        <img src="{% static 'media/work_images/icons-edit.png' %}" alt="">
                    </a>
                </p>
                <p class="user-action">
                    <a href="" id="{{ user.id }}" class="user-del-img" data-toggle="modal" data-target="#user-del-modal">
                        <img src="{% static 'media/work_images/icons-delete.png' %}" alt="">
                    </a>
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
<!--MODAL -->
    <div class="modal fade" id="user-del-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans 'Confirm deleting' %}</h4>
          </div>
          <div class="modal-body">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
               <a href="/moderator/us_delete/=" class="btn btn-default no-margin">{% trans 'Delete' %}</a>
          </div>
        </div>
      </div>
    </div>
</div>