{% load static %}
{% load paginator_repair %}
{% load i18n %}

<div class="col-lg-12 paginator">
    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li>
            <span><a href="?{% url_replace page=page_obj.previous_page_number %}">{% trans 'Prev' %}</a></span>
        </li>
        {% endif %}
        <li class="">
            {% for page in page_obj.paginator.page_range %}
                {% ifequal page page_obj.number %}
                    <a class="active-page">
                        {{page}}
                    </a>
                {% else %}
                    <a href="?{% url_replace page=page %}">
                        {{page}}
                    </a>
                {% endifequal %}
            {% endfor %}
        </li>
        {% if page_obj.has_next %}
        <li>
            <span><a href="?{% url_replace page=page_obj.next_page_number %}">{% trans 'Next' %}</a></span>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>