{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load models_trans %}
{% load comment_filter %}


{% block title %}
    {% trans 'Product page' %}
{% endblock title %}

{% block slider %}
{% endblock slider %}

{% block main-content %}
    <section class="row product-detail-wrapper">
        <div class="col-lg-12">
            <h1>{{product|translate_field:'item_title'}}</h1>
        </div> <!-- h1 -->
        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4 thumbnail">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="img-responsive item-preview"/>
            {% endif %}
        </div> <!-- product image block -->
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8 product-all-info">
            <div class="prod-detail-price">
                <!-- If product have discount linked 2 price else 1 -->
                {% if product.discount > 0 %}
                    <span class="item-price old-price">${{product.price}}</span>
                    <span class="item-price discount-price">
                        ${{ product.get_price_with_discount|floatformat:"2" }}
                    </span>
                {% else %}
                    <p class="item-price discount-price">${{product.price}}</p>
                {% endif %}
            </div> <!-- product price block -->
            <div class="buyed">
                {% if product.id|slugify in cart.cart.keys %}
                    <!-- If product added in cart buy-button switched for link to move cart-detail -->
                    <a href="{% url "cart:cart_detail" %}">
                        <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                        <span>{% trans 'Product in cart' %}</span>
                    </a>
                {% else %}
                    {% if product.quantity != 0 %}
                        <form action="{% url "cart:cart_add" product.id %}"
                              method="post" id="add-product-in-cart" class="add-cart-form">
                            <input type="hidden" name="quantity" id="id_quantity" value="1" disabled="disabled">
                            {% csrf_token %}
                            <input type="submit" value="{% trans 'Add to cart' %}" id="confirm-add-product">
                        </form>
                    {% else %}
                        <span class="not-available">{% trans 'The goods are not yet available' %}</span>
                    {% endif %}
                {% endif %}
            </div> <!-- add to cart form -->
            <div class="wishlist">
                <!-- Two empty forms for add to wishlist, watch-the-price is wishlist too -->
                <form action="" method="post" class="form-wishlist">
                    <!-- Empty form -->
{#                            <input type="hidden" name="quantity" id="id_quantity" value="1" disabled="disabled">#}
                    {% csrf_token %}
                    <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
                    <input type="submit" value="{% trans 'Add to wishlist' %}">
                </form>
                <form action="" method="post" class="form-watch-the-price">
                    <!-- Empty form -->
{#                            <input type="hidden" name="quantity" id="id_quantity" value="1" disabled="disabled">#}
                    {% csrf_token %}
                    <i class="glyphicon glyphicon-flag" aria-hidden="true"></i>
                    <input type="submit" value="{% trans 'Watch the price' %}">
                </form>
            </div> <!-- wish list block -->
            <!-- Discount countdown -->
            {% if product.discount > 0 and product.quantity > 0 %}
                <div class="discount-counter">
                    <p>{% trans 'Actions! Sales! Until the end of the campaign is left' %}:</p>
                    <img src="{% static 'media/work_images/discount.png' %}" alt="">
                    <div class="defaultCountdown"></div>
                </div>
            {% endif %}
            <div id="info">
                {% if product.quantity == 0 %}
                    <p>{% trans 'The goods ended. Add it to your wishlist and we will notify you when it appears' %}</p>
                {% endif %}
                <p class="info-2">
                    <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                    {% trans 'Seen' %}
                    <span>{{product.views}}</span>
                    {% trans 'times' %}
                </p>
                <p class="info-3">
                    <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
                    <span>0</span>
                    {% trans 'People added to wishlist' %}
                </p>
                <p class="info-in-action">
                    {% if product.in_action %}  <!-- In this time product don't have this method -->
                        {% trans 'This product participates in the promotion.' %}
                        <span>
                            {% trans 'About the details of the action you can find' %}
                            <a href="#">{% trans 'here' %}</a>
                        </span>
                    {% else %}
                        {% trans 'This product does not yet participate in promotions.' %}
                    {% endif %}
                </p>
                <ul class="product-in-categories">
                    <li>
                        <p>{% trans 'Product in categories' %}:</p>
                    </li>
                    {% for cat in product.category.all %}
                        <li>
                            <a href="{{ cat.get_absolute_url }}">
                                {{ cat|translate_field:'title'}}
                            </a>
                        </li>
                    {% endfor %}
                </ul> <!-- Categories product -->
            </div> <!-- All product info -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div id="description">
                <h2 class="h-in-tabs">{% trans 'Description' %}</h2>
                <p class="item-desc">{{ product.description|truncatechars_html:300 }}</p>
            </div> <!-- description -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div id="app">
                    <form action="" method="POST" style="display: none" class="comment_form">
                        {% csrf_token %}
                        <p class="comment_text">{{ AddCommentForm }}</p>
                        <input type="submit" class="submit-comment-button">
                    </form><!-- Форма для комментариев, не отображается -->
                    <div class="message-container infinite-container">
                        <div class="message-wrapper infinite-item">
                            <div class="message-body">
                                <!-- data-url используется ajax для создания комментария при клике на ссылку "комментировать" ниже -->
                                <span class='message-date' data-url="{% url 'wall:add-comment' id=product.id pk=0 %}"></span>
                                {% if request.user.is_authenticated %}
                                    <a class="comment">
                                        <i class="glyphicon glyphicon-pushpin" aria-hidden="true"></i>
                                        {% trans 'comment' %}
                                    </a>
                                {% endif %}
                                {% if product.comments.all %}
                                    <p class="show-content">{% trans 'Show all comments' %}</p>
                                {% else %}
                                    <p class="no-comments">{% trans 'No comments here' %}</p>
                                {% endif %}
                            </div><!-- Блок сообщения, без комментариев -->
                            <div class="all-comments">
                                {% if product.comments.all %}
                                    {% for comment in product.comments|parent_filter %}<!-- Фильтр для выборки комментариев верхнего уровня -->
                                        <div class="comment_div">
                                            <div class="comment-wrapper">
                                                {% if request.user == comment.author or request.user.is_staff %}
                                                    <a href="{% url 'wall:edit-comment' id=comment.id %}" class="edit-comment">
                                                        {% trans 'edit comment' %}
                                                    </a>
                                                {% endif %}
                                                <p data-comment_id="{{ comment.id }}" class="comment-text">{{ comment.body }}</p>
                                                {% if comment.posted == comment.edited %}
                                                    {% trans 'comment posted' %}
                                                {% else %}
                                                    {% trans 'comment edited' %}
                                                {% endif %}
                                                <span class='comment-author'>{{ comment.author }}</span>
                                                <!-- data-url используется ajax для создания комментария при клике на ссылку "комментировать" ниже -->
                                                <span class='comment-date' data-url="{% url 'wall:add-comment' id=product.id pk=comment.id %}">
                                                    {{ comment.posted }}
                                                </span>
                                                {% if request.user.is_authenticated %}
                                                    <a class="reply">{% trans 'reply' %}</a>
                                                {% endif %}
                                            </div><!-- Блок комментария -->
                                            <div class="all-comments">
                                                {% if comment.children.all %}
                                                    {% include 'wall/comment.html' with comments=comment.children.all %}
                                                {% endif %}
                                            </div><!-- Контейнер для дочерних комментариев -->
                                        </div><!-- Контейнер для каждого комментария, включая дочерние -->
                                    {% endfor %}
                                {% else %}
                                    <p class="void-class special">{% trans 'No comments here' %}</p>
                                {% endif %}
                            </div><!-- Контейнер для всех комментариев к сообщению -->
                        </div><!-- Контейнер сообщения, включая его комментарии -->
                    </div><!-- Контейнер для всех сообщений -->
                </div>
            </div>
        </div>
    </section>
{% endblock main-content %}