{% load static %}
{% load i18n %}
{% load models_trans %}


<div class="product-wrapper">
    {% if product.discount > 0 %}
        <img src="{% static 'media/work_images/discount.png' %}" alt="" class="discount-img">
    {% endif %}
    <div class="image-block">
        <a href="{{ product.get_absolute_url }}">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="img-responsive item-preview"/>
            {% endif %}
        </a>
    </div> <!-- Product Image -->
    <h2>
        {{product|translate_field:'item_title'|truncatechars:15}}
    </h2>
    <!-- Calculate price of item -->
    {% if product.discount > 0 %}
        <p class="item-price old-price">
            ${{product.price}}
        </p>
        <p class="item-price discount-price">
            {{ product.get_price_with_discount|floatformat:"2" }}
        </p>
    {% else %}
        <p class="item-price">
            ${{product.price}}
        </p>
    {% endif %}

    {% if product.discount > 0 and product.quantity > 0 %}
        <div class="defaultCountdown"></div>
    {% endif %}

    <div class="clearfix"></div>
    <div class="product-in-stock">
        {% if product.quantity > 0 %}
            {% if product.quantity < 10 %}
                <p class="product_ends">{% trans 'Ends' %}: {{ product.quantity }}</p>
                {% else %}
                <p class="product_in_stock">{% trans 'In stock' %}: {{ product.quantity }}</p>
            {% endif %}
        {% else %}
            <p class="product_not_available">{% trans 'None' %}</p>
        {% endif %}
    </div> <!-- product-in-stock -->
    <div style="text-align: center">
        <ul class="product-actions">
            <li class="product-actions-stats">
                <i class="glyphicon glyphicon-stats" aria-hidden="true"></i>
            </li>
            <li class="product-actions-heart">
                <i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i>
            </li>
            <li class="product-actions-cart">
                <a href="{{ product.get_absolute_url }}">
                    <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div> <!-- get-buy -->
</div> <!-- product-wrapper -->