{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load models_trans %}


{% block main-content %}
    <section id="content-section" class="row">
        <!-- Temle off filter on sm dislays for refactoring -->
        <aside class="col-lg-3 col-md-3 hidden-sm">
            {% block filters %}
                {% include 'filters.html' %}
            {% endblock filters %}
        </aside> <!-- filters block -->
        <article id="categories" class="col-lg-9 col-md-9 col-xs-12 main-content">
            {% if subcategories %}
                <div class="sub-navigation">
                    <ul>
                        {% for category in subcategories %}
                            <li>
                                <a href="{% url 'product:category' category.slug %}">
                                    {{category|translate_field:"title"}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div> <!-- sub-navigation if get page from category navigation -->
            {% endif %}
            {% if items %}
                {% for product in items %}
                    <div class="col-lg-3 col-md-3 col-xs-4 block">
                        {% include 'product/product.html' %}
                    </div>
                {% endfor %}
                {% block paginator %}
                    {% include 'product/paginator.html' %}
                {% endblock paginator %}
            {% else %}
                <h3>{% trans 'No categories here' %}</h3>
            {% endif %}
        </article>
    </section>
{% endblock main-content %}
