{% load static %}
{% load i18n %}


{% for comment in comments %}
    <div class="comment_div">
        <div class="comment-wrapper">
            {% if request.user == comment.author or request.user.is_staff %}
                <a href="{% url 'wall:edit-comment' id=comment.id %}" class="edit-comment">
                    {% trans 'edit comment' %}
                </a>
            {% endif %}
            <p data-comment_id="{{ comment.id }}" class="comment-text">{{ comment.body }}</p>
            {% if comment.posted == comment.edited %}
                {% trans 'comment posted' %}
            {% else %}
                {% trans 'comment edited' %}
            {% endif %}
            <span class='comment-author'>{{ comment.author }}</span>
            <span class='comment-date' data-url="{% url 'wall:add-comment' id=product.id pk=comment.id %}">{{ comment.posted }}</span>
            {% if request.user.is_authenticated %}
                <a class="reply">{% trans 'reply' %}</a>
            {% endif %}
        </div>
        <div class="all-comments special">
            {% if comment.children.all %}
                {% include 'wall/comment.html' with comments=comment.children.all %}
            {% endif %}
        </div>
    </div>
{% endfor %}