{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load models_trans %}


{% block nav %}
{% endblock nav %}

{% block main-content %}
    <div class="row"> <!-- all content -->
        <div class="left-content col-lg-9 col-md-9 col-sm-12"> <!-- left section for all content -->
            <section class="col-lg-4 col-md-4 col-sm-12 sidebar"> <!-- sidebar section -->
                <h3 class="goods">{% trans 'Product groups' %}</h3>
                <ul class="goods-list">
                    {% for cat in category %}
                        {% if cat.title and cat.title != 'brands' %}
                        <a href="{{ cat.get_absolute_url }}">
                            <li>
                                <p>{{cat|translate_field:'title'}}  ({{ cat.items_in_category_count }})</p>
                            </li>
                        </a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section> <!-- sidebar section -->

            <section class="col-lg-8 col-md-8 col-sm-12" id="slider"> <!-- mid content -->
                <div class="zavlekuha"> <!-- navigation with promotions -->
                    <ul title="{% trans 'all links except the last lead on informative pages at the moment' %}">
                        <li>
                            <i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i>
                            <a href="{% url 'product:actions' %}">{% trans 'actions' %}</a>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-gift" aria-hidden="true"></i>
                            <a href="{% url 'product:presents' %}">{% trans 'presents' %}</a>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-fire" aria-hidden="true"></i>
                            <a href="{% url 'product:hot' %}">{% trans 'hot proposition' %}</a>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></i>
                            <a href="{% url 'product:bonuses' %}">{% trans 'bonuses' %}</a>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i>
                            <a href="{% url 'product:sales' %}">{% trans 'sales' %}</a>
                        </li>
                    </ul>
                </div>

                <div class="slider"> <!-- slider -->
                    <img src="{% static 'media/temple_for_slider/slider1.jpg' %}" class="img-responsive">
                    <img src="{% static 'media/temple_for_slider/slider2.png' %}" class="img-responsive">
                    <img src="{% static 'media/temple_for_slider/slider3.JPG' %}" class="img-responsive">
                    <img src="{% static 'media/temple_for_slider/slider4.jpg' %}" class="img-responsive">
                    <img src="{% static 'media/temple_for_slider/slider5.JPG' %}" class="img-responsive">
                </div>

                <div class="sign-up"> <!-- sign up button -->
                    <h3>{% trans 'Please register to participate in promotions, receive bonuses and discounts!' %}</h3>
                    <button><a href="{% url 'auth:register' %}">Registration</a></button>
                </div>
             </section> <!-- mid content -->

            <section class="col-lg-12" id="viewed-items"> <!-- viewed products -->
                <h3>{% trans 'Viewed items' %}</h3>
                {% if viewed %}
                    {% for item in viewed %}
                        {% with item.product as product %}
                            <article class="col-lg-3 col-md-4 col-xs-6 block">
                                {% include 'product/product.html' %} <!-- product presentation -->
                            </article>
                        {% endwith %}
                    {% endfor %}
                {% else %}
                    <!-- Task for Future special block for non-auth user -->
                    <p>Тут еще ведутся работы</p>
                {% endif %}
            </section> <!-- viewed products -->

            <section class="col-lg-12" id="recommended"> <!-- recommended items section -->
                <h3>{% trans 'Recommended' %}</h3>
                {% if recommended %}
                    {% for product in recommended %}
                        <article class="col-lg-3 col-md-4 col-xs-6 block">
                            {% include 'product/product.html' %} <!-- product presentation -->
                        </article>
                    {% endfor %}
                {% else %}
                    <p>balalayka</p>
                {% endif %}
            </section> <!-- recommended section -->

            <section class="col-lg-12" id="promotions"> <!-- promotions section -->
                <h3>{%trans 'Promotions'%}</h3>
                {% if promotions %}
                    {% for product in promotions %}
                        <article class="col-lg-3 col-md-4 col-xs-6 block">
                            {% include 'product/product.html' %} <!-- product presentation -->
                        </article>
                    {% endfor %}
                {% else %}
                    <p>No promotions in here</p>
                {% endif %}
            </section> <!-- promotions section -->

            <section class="col-lg-12" id="novelties"> <!-- novelties section -->
                <h3>{%trans 'Novelties'%}</h3>
                {% if novelties %}
                    {% for product in novelties %}
                        <article class="col-lg-3 col-md-4 col-xs-6 block">
                            {% include 'product/product.html' %} <!-- product presentation -->
                        </article>
                    {% endfor %}
                {% else %}
                    <p>No items</p>
                {% endif %}
            </section> <!-- novelties section -->
        </div> <!-- left section all content -->

        <div class="right-content col-lg-3 col-md-3 hidden-sm"> <!-- right content -->
            <section>
                <ul class="hot-promotion-list"> <!-- presentation top promotions list -->
                    {% for promotion in promotions %}
                        <a href="{{ promotion.get_absolute_url }}">
                            <li>
                                <img src="{{ promotion.image.url }}" class="img-responsive" alt="promotion-img">
                                <h3>
                                    {% trans 'Hot proposition' %} for
                                    <span class="promotion-item">{{ promotion.item_title }}</span>
                                </h3>
                                <p>
                                    {% trans 'Instead' %} {{ promotion.price }}
                                    {% trans 'new price' %}
                                    <span>
                                        {{ promotion.get_price_with_discount|floatformat:"2" }}
                                    </span>
                                </p>
                                <p class="promotion-discount">
                                    {% trans 'A discount' %} - <span>{{ promotion.discount }}% .</span>
                                    {% trans 'Hurry up' %}
                                    <a href="{{ promotion.get_absolute_url }}">{% trans 'details promotion' %}!</a>
                                </p>
                            </li>
                        </a>
                    {% endfor %}
                </ul> <!-- end promotions list -->
            </section>
        </div>
    </div>
{% endblock main-content %}