{% load staticfiles %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'components/bootstrap/bootstrap-3.3.7.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400">
    <link rel="stylesheet" href="{% static 'components/bxslider/jquery.bxslider.min.css' %}">
    <link rel="stylesheet" href="{% static 'components/jquery.countdown.package-2.1.0/css/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Bitter|Josefin+Sans|Quattrocento|Abril+Fatface" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- SPECIAL -->
    <img src="{% static 'media/work_images/8march_bunch.png' %}" alt="img" class="branch8-2">
    <img src="{% static 'media/work_images/1.gif' %}" alt="img" class="branch8">
    <!--  -->
    <form id="csrf_getting_form" action="" class="hidden">{% csrf_token %}</form>
    <header>
        {% block top-section %}
            {% include 'top-section.html' %}
        {% endblock top-section %}
    </header>
    <main>
        <div class="container-fluid all-content">
            {% block nav %}
                {% include 'side-navigation.html' %}
            {% endblock nav %}

            {% block first-display %}
            {% endblock %}

            {% block main-content %}
            {% endblock main-content %}
        </div>
    </main>
    <footer>
        <h1>This is a presentation project. Not for commercial purposes</h1>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>{% trans 'Im on freelance portals' %}</h2>
            <ul class="my-contacts">
                <li><a href="https://www.upwork.com/freelancers/~01a91beed0404d3ef2">{% trans 'My Upwork' %}</a></li>
                <li><a href="https://www.freelancer.com/u/RomanNozhenko">{% trans 'My Freelancers' %}</a></li>
{#                <li><a href="#">{% trans 'My Git' %}</a></li>#}
{#                <li><a href="#">{% trans 'Bitbucket' %}</a></li>#}
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>{% trans 'Im in social networks' %}</h2>
            <ul class="my-contacts">
                <li>
                    <a href="https://www.linkedin.com/in/%D1%80%D0%BE%D0%BC%D0%B0%D0%BD-%D0%BD%D0%BE%D0%B6%D0%B5%D0%BD%D0%BA%D0%BE-12283014b/">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://dou.ua/users/roman-nozhenko/">DOU</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100004825216252">Facebook</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>{% trans 'Other contacts' %}</h2>
            <ul class="my-contacts">
                <li>
                    <a href="#">{% trans 'email' %}:   rossraijin@gmail.com</a>
                </li>
                <li>
                    <a href="#">{% trans 'email' %}:   realakira@ukr.net</a>
                </li>
                <li>
                    <a href="#">{% trans 'Skype' %}:   roman.kovalevssky</a>
                </li>
                <li>
                    <a href="#">{% trans 'Telegramm' %}:   521853533</a>
                </li>
            </ul>
        </div>
        <address>{% trans 'Created by' %} Roman Nozhenko</address>
    </footer>

    <script src="{% static 'components/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'components/waypoints/lib/jquery.waypoints.js' %}"></script>
    <script src="{% static 'components/waypoints/src/shortcuts/infinite.js' %}"></script>
    <script src="{% static 'components/jquery-ui.min.js' %}"></script>
    <script src="{% static 'components/jquery.easytabs.min.js' %}"></script>
    <script src="{% static 'components/bxslider/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'components/bootstrap/bootstrap-3.3.7.min.js' %}"></script>
    <script src="{% static 'components/jquery.countdown.package-2.1.0/js/jquery.plugin.js' %}"></script>
    <script src="{% static 'components/jquery.countdown.package-2.1.0/js/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript">
        function refreshPage () {
                var page_y = document.getElementsByTagName("body")[0].scrollTop;
                window.location.href = window.location.href.split('?')[0] + '?page_y=' + page_y;
            };
    </script>
</body>
</html>