{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load models_trans %}


{% block nav %}
{% endblock nav %}

{% block main-content %}
    <div class="stub">
        <h1>{% trans 'Delivery' %}</h1>
        <p>{% trans 'Ways of delivery. Not necessarily a separate page. Possible and pop-up window' %}</p>
        <a href="{% url 'product:main_page' %}">Home</a>
    </div>
{% endblock main-content %}