{% load static %}
{% load i18n %}
{% load models_trans %}


<div class="filters">
    <form action="" method="get" class="filter-form">
        <div>
            <img src="{% static 'media/work_images/search.png' %}" />
            <h4>{% trans 'Search' %}</h4>
        </div>
        <div>
            <label>{% trans 'In title' %}</label>
            {{ filter.form.item_title }}
        </div>
        <div>
            <label>{% trans 'Description' %}</label>
            {{ filter.form.description }}
        </div>
        <h4>{% trans 'Cpecify price range' %}:</h4>
        <div class="filter-price-range">
            <label>{% trans 'From' %}:</label>
            {{ filter.form.min_price }}
            <label>{% trans 'To' %}:</label>
            {{ filter.form.max_price }}
        </div>
        <div>
            <h4>{% trans 'By price' %}:</h4>
            {{ filter.form.ordering}}
        </div>
        <!-- Task for Future
        <div>
{#            {{ filter.form.the_goods_end }}#}
        </div>
        -->
        <div class="filter-populars-select">
            <h4>{% trans 'Populars' %}:</h4>
            {{ filter.form.popular }}
        </div>
        <div class="brand-check">
            <h4>{% trans 'Brands' %}:</h4>
            {{filter.form.category_brands}}
        </div>
        <button type="submit">{% trans 'Filter' %}</button>
    </form>
</div>