{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load models_trans %}


{% block nav %}
{% endblock nav %}

{% block main-content %}
    <div class="stub">
        <h1>{% trans 'Hot proposition page' %}</h1>
        <p>{% trans 'There will be a list of all hot propositions' %}</p>
        <a href="{% url 'product:main_page' %}">Home</a>
    </div>
{% endblock main-content %}