{% load static %}
{% load side_navigation %}
{% get_main_category_list as main_category_list %}
{% load i18n %}
{% load models_trans %}


{% if main_category_list %}
    <nav class="navigation-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <ul class="main-navigation">
                    <li>
                        <p><a href="{% url 'product:main_page' %}">{% trans 'Main' %}</a>|</p>
                    </li>
                    {% for cat in main_category_list %}
                    <li>
                        <p>
                        {% if cat.title and cat.title != 'brands' %}
                            <a href="{{ cat.get_absolute_url }}">
                                {{ cat|translate_field:'title'}}
                            </a>
                        {% endif %}
                        </p>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </nav>
{% endif %}