{% load static %}

{% load i18n %}

<div class="container-fluid">
    <div class="row">

        {% if not request.user.is_anonymous %}
            <div class="col-lg-12 dashboard">
                {% if request.user.is_superuser %}
                    <a href="{% url 'moderator:panel' %}" class="administration-link">
                        {% trans 'Administration' %}
                    </a>
                    <a href="{% url 'account:page' user.id %}">{% trans 'Enter your dashboard' %}</a>
                {% else %}
                    <a href="{% url 'account:page' user.id %}">{% trans 'Enter your dashboard' %}</a>
                {% endif %}
            </div> <!-- dashboard -->
        {% endif %}

        <div class="col-lg-2">
            <div class="logo-wrapper">
                <i class="glyphicon glyphicon-knight" aria-hidden="true"></i>
            </div>
        </div> <!-- logotype -->

        <div class="col-lg-2 feedback">
            <p class="feedback-first-line">8(050)123-45-67</p>
            <p class="feedback-second-line">8(050)123-45-67</p>
            <p class="feedback-third-line">{% trans 'we will call you back!' %}</p>
            <form action="{% url 'feedback' %}" class="feedback-form" method="post" name="super">
                <input type="text" name="phone" maxlength="20" required="" id="id_phone" placeholder="You phone number">
                {% csrf_token %}
                <a href="javascript:document.super.submit()">
                    <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                </a>
            </form>
        </div> <!-- feedback form block -->

        <div class="col-lg-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <nav class="base-navigation">
                            <li><a href="{% url 'product:actions' %}">{% trans 'Actions' %}</a></li>
                            <li><a href="{% url 'product:payments' %}">{% trans 'Payment' %}</a></li>
                            <li><a href="{% url 'product:delivery' %}">{% trans 'Delivery' %}</a></li>
                            <li><a href="{% url 'product:contacts' %}">{% trans 'Contacts' %}</a></li>
                        </nav>
                    </div> <!-- site navigation -->

                    <div class="col-lg-2 col-md-2">
                        <form action="{% url 'set_language' %}" method="post" class="languages-form">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <ul>
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}

                            {% for language in languages %}
                                <li>
                                    <button type="submit"
                                            name="language"
                                            value="{{ language.code }}"
                                            class="{% if language.code == LANGUAGE_CODE %}selected-lang{% endif %}">
                                        {{ language.code }}
                                    </button>
                                </li>
                            {% endfor %}
                            </ul>
                        </form>
                    </div> <!-- Choose language block -->
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="global-search">
                            <form action="{% url 'site-search' %}" method="get" accept-charset="utf-8" name="global_search">
                                <div class="input-group">
                                {% csrf_token %}
                                <input class="searchfield" id="searchbox" name="bigs"
                                       type="text" placeholder="{% trans 'Search' %}" class="form-control">
                                <span class="input-group-btn">
                                <a href="javascript:document.global_search.submit()" class="btn btn-default">
                                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                </a>
                                </span>
                                </div>
                            </form>
                        </div>
                    </div> <!-- global search block -->

                    <div class="col-lg-1 in-out">
                        {% if not request.user.is_authenticated %}
                            <a href="" data-toggle="modal" data-target="#login-popup">
                                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                                <p>
                                    {% trans 'login' %}
                                </p>
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="login-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">LOGIN FORM</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'auth:login' %}" method="post" class="login-form">
                                                {% csrf_token %}
                                                <input type="text" name="username" id="username" placeholder="{% trans 'Your name here' %}...">
                                                <input type="password" name="password" id="password" placeholder="{% trans 'Your password' %}...">
                                                <button>{% trans 'Login' %}</button>
                                                <a href="{% url 'auth:register' %}">{% trans 'Registration' %}</a>
                                                {% if login_error %}
                                                    <label>{{login_error}}</label>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <a href="{% url 'auth:logout' %}">
                                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                                <p>
                                    {% trans 'logout' %}
                                </p>
                            </a>
                        {% endif %}
                    </div> <!-- login/logout block -->
                    <div class="col-lg-3">
                        <ul class="shopify">
                            <li>
                                <i class="glyphicon glyphicon-stats" aria-hidden="true"></i>
                                <p>{% trans 'compare' %}</p>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i>
                                    <span class="badge">0</span>
                                    <p>{% trans 'desires' %}</p>
                                </a>
                            </li> <!-- Empty block wish list count -->
                            <li>
                                <a href="{% url "cart:cart_detail" %}">
                                    <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                                    <span class="badge">
                                        {% with total_items=cart|length %}
                                            {% if cart|length > 0 %}
                                                {{ total_items }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        {% endwith %}
                                    </span>
                                    <p>{% trans 'cart' %}</p>
                                </a>
                            </li>
                        </ul>
                    </div> <!-- compare, wishlist, cart -->
                </div>
            </div>
        </div>
    </div>
</div>