{% load static %}
{% load i18n %}

<div>
    {% if comments %}
    <div id="comment-box">
        {% for comment in comments %}
        <div class="comment-wrapper">
            <a href="{% url 'comment:update_comment' slug=product.slug id=comment.id %}" class="comment-edit-img">
                <img src="{% static 'media/work_images/icons-edit.png' %}"  alt="">
            </a>
            <a href="#" id="{{ comment.id }}" class="comment-del-img" data-toggle="modal" data-target="#comment-del-modal">
                <img src="{% static 'media/work_images/icons-delete.png' %}"  alt="">
            </a>
            <p class="comment-text">{{comment.comment_text}}</p>
            {% if comment.update_date != comment.posted_date %}
                <span class="comment-author">
                    {% trans 'Posted' %}:
                    {{comment.author}}
                </span>
                <span class="comment-date">
                    {% blocktrans trimmed with update=comment.update_date %}
                        {{update}}
                    {% endblocktrans %}
                </span>
            {% else %}
                <span class="comment-author">
                    {% trans 'Updated by' %}:
                    {{comment.author}}
                </span>
                <span class="comment-date">
                    {% blocktrans trimmed with posted=comment.posted_date %}
                        {{posted}}
                    {% endblocktrans %}
                </span>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <!--MODAL -->
    <div class="modal fade" id="comment-del-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans 'Confirm deleting' %}</h4>
          </div>
          <div class="modal-body">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
              <a href="/comment/delete/=" class="btn btn-default no-margin">{% trans 'Delete' %}</a>
          </div>
        </div>
      </div>
    </div>

    {% else %}
    <p>{% trans 'No comments here' %}</p>
    {% endif %}

    {% if request.user.is_authenticated %}
    <form id="add-comment-form" class="comment-form" method="POST" action="{% url 'comment:create_comment' product.slug %}" enctype="multipart/form-data">
        {{ CommentAddForm }}
        {% csrf_token %}
        <input type="submit" id="add-comment" class="btn btn-default" value="{% trans 'Publish' %}" />
    </form>
    {% else %}
        <div class="no-auth-user-block">
            <p>{% trans 'Only registered users can comment' %}</p>
            <form action="{% url 'auth:login' %}" method="post" class="login-form">
                {% csrf_token %}
                <label for="username">{% trans 'Name' %}:</label>
                <input type="text" name="username" id="username" placeholder="{% trans 'Your name here' %}...">
                <label for="password">{% trans 'Password' %}:</label>
                <input type="password" name="password" id="password" placeholder="{% trans 'Your password' %}...">
                <button>{% trans 'Login' %}</button>
                {% if login_error %}
                    <label>{{login_error}}</label>
                {% endif %}
            </form>
             or <a href="{% url 'auth:register' %}">{% trans 'register' %}</a>
        </div>
    {% endif %}
</div>
