{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Delete' %}
{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    {% trans 'Are you sure delete' %}"{{object}}"?
                </p>
                <input type="submit" value="{% trans 'Confirm' %}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}