{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Order created' %}
{% endblock title %}

{% block main-content %}
    <h1>{% trans 'Thank you' %}</h1>
    <p>
        {% trans 'Your order has been successfully completed. Your order name is' %}<strong>{{order.id}}</strong>
    </p>
{% endblock main-content %}