{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Checkout' %}
{% endblock title %}

{% block main-content %}
<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-12 checkout-page">
    <h1>{% trans 'Checkout' %}</h1>
    <div class="order-info">
        <h3>{% trans 'Your order' %}</h3>
        <ul>
            {% for item in cart %}
            <li>
                <span>{{item.quantity}}</span>
                <span class="title">{{item.item.item_title}}</span>
                <span>{% trans 'at price' %}</span>
                <span class="price">$ {{item.price|floatformat:"2"}}</span>
            </li>
            {% endfor %}
            {% if cart.coupon %}
            <li>
                "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                <span>- ${{cart.get_discount|floatformat:"2"}}</span>
            </li>
            {% endif %}
        </ul>
        <p class="total-cost">
            {% trans 'Total cost at all' %}: ${{cart.get_total_price_after_discount|floatformat:"2"}}
        </p>
    </div>
    <form action="" method="post" class="userform">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% trans 'Place order' %}">
    </form>
</div>
{% endblock main-content %}
