{%  extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Canceled' %}
{% endblock title %}

{% block main-content %}
    <h1>{% trans 'Your payment has not been processed' %}.</h1>
    <p>{% trans 'There was a problem processing your payment' %}.</p>
{% endblock main-content %}