{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Done operation' %}
{% endblock title %}

{% block main-content %}
    <h1>{% trans 'Your payment was successful' %}!</h1>
    <p>{% trans 'Your payment has been successfully received' %}.</p>
{% endblock main-content %}