{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Process' %}
{% endblock title %}

{% block main-content %}
    <h1>{% trans 'Pay using PayPal' %}</h1>
    <p>Its worked but off now becouse this is not real shop</p>
{#    {{ form.render }}#}
{% endblock main-content %}